<%= render_state({
  :url => "/help/faq", 
  :context_menu => false,
  :img => "/images/navigation/team.png"
}) %>
<%= vspace 10 %>
<%= page_header ['jamMm.in', 'Frequently Asked Questions'] %>
<%= vspace 20 %>

<div class="faq">
  <div class="question">What is a Jam ?</div>
  <div class="answer">A Jam is an audio file containing of a single instrument only (e.g Guitar, Vocal, Violin). A jam are used to create collaborations.</div>
</div>

<div class="faq">
  <div class="question">What are the accepted audio file formats ?</div>
  <div class="answer">MP3, ACC, WAV and MP4 are the accepted the audio file formats.</div>
</div>

<div class="faq">
  <div class="question">What is a Collaboration ?</div>
  <div class="answer">A Collaboration is a combination of multiple jams.</div>
</div>

<div class="faq">
  <div class="question">How do I create a Collaboration ?</div>
  <div class="answer">First, choose a jam would like to collaborate with. Navigate to its "jam page" and click on the 
  <span class="bold">collaborate</span> menu item in the left menu panel.</div>
</div>

<div class="faq">
  <div class="question">What audio file should I upload to complete the collaboration ?</div>
  <div class="answer">In the collaboration console click "create jam" and upload only your contribution (instrument's audio file) 
  to the collaboration. Click "preview" to preview the collaboration and then click "publish".</div>
</div>

<div class="faq">
  <div class="question">What are the four images in the bottom right of the page ?</div>
  <div class="answer">The four images are "your home", "your profile", "your messages", "your notifications".</div>
</div>

<div class="faq">
  <div class="question">What does the home feed contain ?</div>
  <div class="answer">The home feed contains the activity of the all the artists being follow.</div>
</div>

<div class="faq">
  <div class="question">Can a collaboration used to create another collaboration ?</div>
  <div class="answer">Yes. Just click on the <span class="bold">collaborate</span> menu item in the left menu panel of a collaboration</div>
</div>

<div class="faq">
  <div class="question">What does publishing a jam / collaboration do ?</div>
  <div class="answer">Publishing a jam / collaboration makes it visible on your profile and allows other musicians to collaborate with it.</div>
</div>


<div class="faq">
  <div class="question">How is the total available memory calculated ?</div>
  <div class="answer">Every account is created with a initial value of 200 MB. According to your actiivity on the site your available memory increases.</div>
</div>

<%= vspace 20 %>
If you have any queries email us at <a href='mailto: support@jammm.in' style='color: none; text-decoration: none' class='red'>support@jammm.in</a> and we will get back to you within 24 hours.