<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>jamMm.in - Terms and Conditions</title>
  <%= partial('body/includes')%>
</head>
<body>
  <div class='tandc'>
    <div class='bold underline'>JAMMMIN TERMS OF USE</div>
    <%= vspace 20 %>

    jamMm.in (the "Site") is an online music collaboration application. As a prospective and registered user of the Site, these Terms of Use govern your usage. By visiting, accessing or registering on this Site, you have unconditionally accepted to these Terms of Use and are bound by the same. The Terms of Use may be amended from time to time without notice. Such amendment may apply retrospectively. Please ensure that you periodically update yourself with the current version of the Terms of Use.
    <%= vspace 20 %>    
    <div class='bold'>Use of the Site:</div>
    <%= vspace 10 %>
    Registration: In order to access the Site, you are required to send Jammmin a request for an invite. On receiving the invite, you can register as a member of the Site ("User/Artist"). Upon Registration, you can use the services of this Site, which includes, to Create Jams (as defined in the Site, hereinafter referred to as "jams"), to Create Songs (as defined in the Site, hereinafter referred to as "Songs") and collaboration ("Content").
    
    <%= vspace 20 %>
    <div class='bold'>Intellectual Property Rights:</div>
    <%= vspace 10 %>
    <ol>
      <li>You shall own the Jams that you have posted on this Site.</li>
      <li>You shall collectively own the Songs in which you have collaborated with other Artists on this Site.</li>
      <li>You shall grant Jammmin a non-exclusive, royalty free, worldwide license to all the Content that you have uploaded on this Site. Jammmin has the right to use, copy, reproduce, modify, publish, advertise and delete the Content at its discretion.</li>
    </ol>
    
    <%= vspace 20 %>
    <div class='bold'>Restrictions:</div>
    <%= vspace 10 %>
    <ol>
      <li>All the content that is uploaded by you must be your original composition. You shall not upload any content that infringes or violates any third party's rights.</li>
      <li>You shall not sell, distribute, copy, reproduce and modify any Songs that have been collaborated on this Site, without the prior consent of Jammmin and the other collaborating Artist(s).</li>
      <li>You shall not post content that is unlawful, harmful, malicious, discriminatory, pornographic, or that contains nudity or graphic or gratuitous violence.</li>
      <li>You shall not upload any content that violates the laws of India.</li>
      <li>You shall not use the name, logos, domain names etc of Jammmin, without the express written authorization of Jammmin.</li>
    </ol>
    
    <%= vspace 20 %>    
    <div class='bold'>Indemnity:</div>
    <%= vspace 10 %>
    You hereby agree to indemnify Jammmin, its founders and employees from and against any and all claims, suits, actions, demands or proceedings and all related damages, losses, liabilities, cost and expenses (including but not limited to reasonable lawyers' fees) arising out of or relating to: a) Your breach and violation of these Terms of Use; b) Your infringement of any third party's intellectual property rights; c) Any conflict between you and any another User of Jammmin. 
    
    <%= vspace 20 %>
    <div class='bold'>Limitation of Liability:</div>
    <%= vspace 10 %>
    Your use of this Site is at your sole risk and responsibility, in no event shall Jammmin be liable to you for any direct, indirect, incidental, consequential, special or punitive, exemplary, primitive, damages or liabilities of any kind or for loss of data, loss of revenue, loss of business, other financial loss arising out of or in connection with your use of this Site or the Content uploaded on this Site or the terms of use. Your sole and exclusive remedy for dissatisfaction with the Site is to stop using the Site.

    <%= vspace 10 %>
    YOUR USE OF JAMMMIN IS AT YOUR SOLE RISK AND DISCRETION AND JAMMMIN DISCOUNTS ANY WARRANTIES OR RESPONSIBILITIES. ACCESS TO THE SITE MAY NOT BE LEGAL BY CERTAIN PERSONS OR IN CERTAIN STATES OR COUNTRIES. IF YOU ACCESS THE SITE FROM OUTSIDE INDIA, YOU DO SO AT YOUR OWN RISK AND ARE RESPONSIBLE FOR COMPLIANCE WITH THE LAWS OF YOUR JURISDICTION. THE SITE IS PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED OR STATUTORY, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, RELIABILITY, SECURITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. JAMMMIN DISCLAIMS, TO THE FULLEST EXTENT PERMITTED UNDER LAW, ANY WARRANTIES REGARDING THE TIMELINESS, ACCURACY, COMPLETENESS AND PERFORMANCE OF THE SITE. JAMMMIN DOES NOT WARRANT THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED; OR THAT THE CONTENT IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
    
    <%= vspace 20 %>
    <div class='bold'>Term and Termination:</div>
    <%= vspace 10 %>
    The Terms of Use shall be applicable and effective from the date the website has been created. Jammmin reserves the right to remove any Content you post on Jammmin or delete your account at its sole discretion. 
    
    <%= vspace 20 %>
    Jammmin reserves the right: a) right to remove your account or deny, restrict, suspend, or terminate your access to all or any part of Jammmin at its sole discretion and b) to reject or refuse to post or remove any posting by you, or to deny, restrict, suspend, or terminate your access to all or any part of the Jammmin at any time, for any or no reason, with or without prior notice or explanation, and without liability.  
    <%= vspace 20 %>
    
    <div class='bold'>Governing Law and Dispute Resolution:</div>
    <%= vspace 10 %>
    These Terms of Use will be governed by and construed in accordance with the laws of India, without giving effect to its conflict of laws provisions or your actual state or country of residence, and you agree to submit to personal jurisdiction in India at Bangalore.
    <%= vspace 10 %>
    Any disputes and differences whatsoever arising in connection with these Terms of Service shall be settled by arbitration in accordance with the Arbitration and Conciliation Act, 1996. Unless the Parties agree on a sole arbitrator, there shall be three Arbitrators, one to be selected by each of the parties, and the third to be selected by the two Arbitrators appointed by the parties.  The venue of Arbitration shall be in Bangalore, India and the language shall be English. The costs of the Arbitration shall be borne by you.
  </div>
</body>
</html>