<% 
	items = [
  	{:text => 'jamMm.in', :link => '/', :icon => :favicon, :id => 'menu-item-jammmin'},
  	{:text => 'Songs', :link => '/songs', :icon => :song, :id => 'menu-item-songs'},
    {:text => 'Jams', :link => '/jams', :icon => :jam, :id => 'menu-item-jams'},  	
    {:text => 'Artists', :link => '/artists', :icon => :"user1[16x16]", :id => 'menu-item-artists'},
    ((not session_user?) ? {:text => 'Sign In', :link => '/signin', :icon => :"login-header", :id => 'menu-item-signin'} : nil),
    ((not session_user?) ? {:text => 'Request an Invite', :link => '/request_invite', :icon => :invite, :id => 'menu-item-request-invite'} : nil),
  	{:text => 'Report a Bug', :link => '/bug/new', :icon => :bug, :id => 'menu-item-new-bug'}
	].compact
	
	items2 = [
    {:text => 'My Home', :link => '/account', :icon => :home, :id => 'menu-item-home'}
	]
%>

<div>
	<%= hor_line ("1px", "solid", "#cccccc") %>
  <%= load_menu_items(items) %>	
  <%= vspace 20 %>

	<% if session_user? %>
  	<%= hor_line ("1px", "solid", "#cccccc") %>
    <%= load_menu_items(items2) %>
  <% end %>
</div>
