<div class='special-message'>
  <u>NEW FEAUTURE : SESSIONS</u><%= vspace 10 %>
  A Session is a period of time in jammm.in where the prime focus is on creating a type/stype/genre of music during that period.
  <%= vspace 10 %>
  Current session : <b>Alpha Rhythm</b>
  <%= vspace %>
  <div class='text-right text underline'><a href='/sessions/alpha_rhythm'>read more</a></div>
</div>
<%= vspace 20 %>

<%= section_header 'Songs' %>
<%= partial("common/songs_in_cols", :locals => {:songs => Song.published(9), :cols => 2}) %>

<%= section_header 'Jams' %>
<% jams = Jam.latest_displayable.map(&:identical_ancester).uniq.first(20) %>
<%= partial("common/jams", :locals => {:jams => jams}) %>

<%= vspace 20 %>

<%= section_header('Feed') %>
<%= partial("common/feeds", :locals => {:feeds => global_feeds(30), :show_as_updates => true}) %>


<%= js_start %>
	setSelectedMenuItem('menu-item-jammmin')
<%= js_end %>

