<%= render_state({
  :name => "Overview", 
  :description => "", 
  :url => "/partial/homepage/overview", 
  :context_menu => "/partial/homepage/overview_context_menu", 
  :img => "/images/navigation/jammmin.png",
  :right_panel => "/partial/homepage/overview_tips"
}) %>

<div style='min-height: 52px; width: 90%; display: none'>
  <% jam = Jam.find(36) %>
  <div class='position-relative play-waveform'>
    <% waveformid = rand_id %>
    <div style='position: absolute; width: 50px' class='play' <%= play_info jam %> waveformid='<%= waveformid %>' playtype='waveform'>
      <%= icon "/images/42.png", 2, 42, true %>
    </div>
    <div class='waveform' id="<%= waveformid %>" style='position: relative; margin-left: 54px'>
      <div class="buffer"></div>
      <div class='seek'>
        <img src='<%= jam.file_data.waveform_url rescue "-" %>' class='waveform-image'>
      </div>
    </div>
  </div>
</div>

<%= vspace 10 %>

<div style='position: absolute; bottom: 0px; width: 94%; margin-bottom: 5px; z-index: 2'>
  <div class="s11 bold align-right">Latest On jamMm.in</div>
  <% feeds = Feed.global(3) %>
  <div class='feeds'>
    <% feeds.each {|feed| %>
      <%= partial :"/account/feeds/#{feed.feed_type}", :locals => {:feed => feed} %>
    <% } %>
  </div>
</div>

<div style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; opacity: 0.5">
  <img src='/images/map.png' width='100%' name='map'>
</div>



<%= js_start %>
  var el = $j("#content-panel").children().height("100%");
<%= js_end %>