<div class='menu height-inherit text' id='simple-menu'>
  <div style='margin-bottom: 10px'>
  	<div class='float-left'><%= icon :favicon %></div>
  	<div class='float-left bold' style='padding-left: 5px'>jamMm.in</div>
	</div>
	jamMm.in is a music collaboration application. Our aim with jamMm.in is to facilitate the process of playing music within a group containing a diverse mix of musicians. We are trying to bring forward a way in which anyone can play with anyone or anyone's piece of music from anywhere.
</div>

<%= vspace %>
<hr class='light'>
<%= vspace %>

<div class='main-info text'>
  <div>
    <div class='float-left pad-right-5'>
      <img src='/images/common/facebook.png' height='24px'>
    </div>
    <div class='float-left' style='margin-top: 5px'>
      <a href='http://www.facebook.com/jammymusic'>http://www.facebook.com/jammymusic</a>
    </div>
  </div>
  <%= vspace %>
  
  <div>
    <div class='float-left pad-right-5'>
      <img src='/images/common/twitter.png' height='24px'>
    </div>
    <div class='float-left' style='margin-top: 5px'>
      <a href='http://www.twitter.com/jammm_in'>http://www.twitter.com/jammm_in</a>
    </div>
  </div>

  <%= vspace %>
  
  <div>
    <div class='float-left pad-right-5'>
      <img src='/images/common/blogger.jpg' height='24px'>
    </div>
    <div class='float-left' style='margin-top: 5px'>
      <a href='http://blog.jammm.in'>http://blog.jammm.in</a>
    </div>
  </div>
</div>

<% if not session_user? %>
  <%= vspace 20 %>
  <a href='/request_invite'>
    <div class='text main-info display-inline-block simple-link'>
      <div class='position-absolute'><%= icon :invite %></div> 
      <div class='position-relative margin-left-20' style='top: 2px'>Request an Invite</div>
    </div>
  </a>
<% end %>

<%= vspace 20 %>
<%= partial("/homepage/latest_developments", :section_header => SectionHeader.new("Latest Developments"), :collapsible => true) %>
