<%= partial("/homepage/chat") %>
<%= vspace 20 %>

<%= section_header('About Us') %>
<div class='menu height-inherit text' id='simple-menu'>
  <div style='margin-bottom: 10px'>
  	<div class='float-left'><%= icon :favicon %></div>
  	<div class='float-left bold' style='padding-left: 5px'>jamMm.in</div>
	</div>
	jamMm.in is a music collaboration application. Our aim with jamMm.in is to facilitate the process of playing music within a group containing a diverse mix of musicians. We are trying to bring forward a way in which anyone can play with anyone or anyone's piece of music from anywhere.
</div>
<%= vspace %>

<hr class='light'>
<%= vspace %>

<div class='text'>
  <div>
    <div class='float-left pad-right-5'><%= icon :add %></div>
    <div class='flaot-left bold' style='margin-top: 2px'>Collaboration</div>
  </div>
  <%= vspace %>
  Look for the <%= icon :add %> icon. <br>You will be able to add anyone's music (jam/song) to your song and write music on top of it. 
</div>
<%= vspace %>
<hr class='light'>
<%= vspace %>

<a href='http://www.facebook.com/jammymusic'> <img src='/images/common/facebook-page-2.png' height='30px'></a><br>
<a href='http://www.twitter.com/jammm_in'><img src='/images/common/twitter-page-2.png' height='30px'></a><br>
  <a href='http://blog.jammm.in'><img src='/images/common/blog-page-2.png' height='30px'></a><br>
<% if not session_user? %>
  <a href='/request_invite'><img src='/images/common/request-invite-2.png' height='30px'></a>
<% end %>

<%= vspace 20 %>
<div class='text'>
  <%= section_header 'New Users' %>
  <%= partial("common/users", :locals => {:users => User.latest(8), :cols => 2}) %>
</div>

<%= vspace 20 %>
<%= partial("/homepage/latest_developments", :section_header => SectionHeader.new("Latest Developments"), :collapsible => true) %>
