<div class='menu height-inherit text' id='simple-menu'>
	<b>jamMm.in</b><br><br>
	
	jamMm.in is a music collaboration application. <br><br>	
</div>

<div class='main-info text'>
  <span class='bold'>Facebook:</span> <a href='http://www.facebook.com/pages/jammmin/233536412526'>http://www.facebook.com/pages/jammmin/233536412526</a>
  <%= vspace %>
  <span class='bold'>Twitter:</span> <a href='http://www.twitter.com/jammm_in'>http://www.twitter.com/jammm_in</a>
  <%= vspace %>
  <span class='bold'>Blog:</span> <a href='http://blog.jammm.in'>http://blog.jammm.in</a>
  <%= vspace %>
</div>

<%= vspace 20 %>
<% if not session_user? %>
  <a href='/request_invite'>
    <div class='text main-info display-inline-block simple-link'>
      <div class='position-absolute'><%= icon :invite %></div> 
      <div class='position-relative margin-left-20' style='top: 2px'>Request an Invite</div>
    </div>
  </a>
<% end %>

<%= vspace 20 %>
<%= partial("/homepage/latest_developments", :section_header => SectionHeader.new("Latest Developments"), :collapsible => true) %>
