<div class='music-desc round'>
	<div>
		<div class='float-left'>
			<img src='/song/<%= song.id %>/song_picture' height="128px" width="128px">
		</div>
		<div class='float-left'>
		  <%= field 'Description' %> <%= song.description %><br>
		  <%= field 'Artists' %> <%= partial(:'common/list_artists', {:locals => {:artists => song.artists}}) %><br>
		  <%= field 'Creator' %> <%= add_profile_link song.creator %><br>
			<%= field 'Genre' %> <%= list_genres(song.genres) %><br>
		  <%= field 'Views' %> <%= song.views %><br><br>
		</div>
	</div>
	<% if @session_user and not @session_user.likes_song?(song) %>
  	<span class='simple-link' onClick='likeSong("<%= song.id %>")' title='Like'><%= icon :like %></span>
	<% elsif @session_user %>
		<span class='simple-link' onClick='unlikeSong("<%= song.id %>")'><%= icon :unlike %></span>
	<% end %>
</div>