<% 
	hide_header ||= nil
	add ||= nil 
%>

<%= section_header 'Create Song' if not hide_header %>
<br>
<form method='post' action='/song/register'>
  <%= field 'Name' %>
  <input type='text' name='name'>
  <%= vspace %>
	<% if add %>
		<input type='hidden' name='add' value='<%= add %>'>
	<% end %>
  <input type='submit' value='Create Song'>
</form>
<br>
<br>

<%= js_start %>
	setSelectedMenuItem('menu-item-song-create')
<%= js_end %>