<div class='header'>Create Collaboration</div>
<%= vspace 30 %>
You have chosen to collaborate with "<%= @obj.name %>". Enter the name for your Collaboration.
<%= vspace 30 %>
<div class='field'>Collaboration Name:</div>
<input type='text' name='name'>
<input type='hidden' name='music_type' value='<%= @music_type %>'>
<input type='hidden' name='music_id' value='<%= @music_id %>'>
<%= vspace 20 %>
<div class='align-right'><input type='button' value='Create' onclick='Song.create.submit()'></div>