<% 
	hide_header ||= nil
	add ||= nil 
%>

<%= section_header 'Create Song' if not hide_header %>
<br>
<form id='create-song-form' method='post' action='/song/register' onsubmit='createSong(); return false;'>
  <%= field 'Name' %>
  <input type='text' name='name'>
  <%= vspace %>
	<% if add %>
		<input type='hidden' name='add' value='<%= add %>'>
	<% end %>
  <input type='submit' value='Create Song'>
</form>
<%= vspace 10 %>
<div id='create-response'></div>


<%= js_start %>
	setSelectedMenuItem('menu-item-song-create');
<%= js_end %>