<% waveformid = rand_id %>
<div class='jam'>
  <div class='play play-icon clickable' <%= play_info jam %> waveformid='<%= waveformid %>' playtype='waveform'><%= icon "/images/42.png", 2, 42, true %></div>
  <div class='info'>
    <div class='name link' <%= music_link jam %>><%= jam.name %></div>
    <div class='artist link' <%= profile_link jam.creator %>><%= jam.creator.username %></div>
    <div class='instrument'><%= jam.instrument.name if jam.instrument %></div>
  </div>
  <div class='spectrogram'>
    <div class='waveform' id="<%= waveformid %>">
      <div class="buffer"></div>
      <div class='seek'>
        <img src='<%= jam.file_data.waveform_url rescue "-" %>' class='waveform-image'>
      </div>
    </div>
  </div>
</div>