<div>
  <div class='border-box-sizing pad-right-5 float-left display-inline-block'><%= play jam %></div>
  <div class='border-box-sizing float-left bold'><%= jam_link jam %></div>
  <div class='border-box-sizing float-left text'> &nbsp;- 
    <% jam.jam_artists.each do |jam_artist| %>
      <%= profile_link jam_artist.artist %> <%= "(#{list_instruments(jam_artist.instruments)}), " if not jam_artist.instruments.empty? %> 
    <% end %>
  </div>
  <div class='border-box-sizing float-right display-inline-block'><%= add_music_link jam %></div>  
</div>
