<div id='basic-info'>
	<%= partial("song/basic_info", :locals => {:song => @song}) %>
</div>
<br>
<%= section_header 'Jams' %>
<%= partial(:'song/jams', {:locals => {:jams => @song.jams}}) %>
<br>
<%= section_header 'Lyrics' %>
<%= format_lyrics(@song.lyrics) %>
