<div id='basic-info'>
	<%= partial("song/basic_info", :locals => {:song => @song}) %>
</div>

<%= section_header 'Description' %>
<%= @song.description.format_html %>
<%= vspace 20 %>

<%= section_header 'Jams' %>
<%= partial(:'song/jams', {:locals => {:jams => @song.active_jams}}) %>
<br>
<%= section_header 'Lyrics' %>
<%= format_lyrics(@song.lyrics) %>
