<%= render_state({:name => @song.name, :description => @song.description, :url => "/song/#{@song.id}", :context_menu => "/song/#{@song.id}/context_menu"}) %>

<%= vspace 10 %>
<div class='song-page song'>
  <div class='image'>
    <img src='/new-ui/song2.jpg' width='78px' height='78px'>
  </div>
  <div class='content'>
    <div class='name'><%= @song.name %></div>
    <div class='artist'><%= @song.creator.name %></div>
    <div class='play-waveform'>
      <div class='play'><img src='/new-ui/play.png'></div>
      <div class='waveform'><img src='/new-ui/waveform.png'></div>
    </div>
  </div>
</div>

<%= vspace 30 %>
<div class='section-header'>Information</div>
<div class='field'>Name:</div><span><%= @song.name %></span><%= vspace %>
<div class='field'>Artists:</div><span><%= @song.artists.map(&:username).join(", ") %></span><%= vspace %>
<div class='field'>Instruments:</div><span><%= @song.instruments.map(&:name).join(", ") %></span><%= vspace %>
<div class='field'>Genre:</div><span><%= @song.genre_names %></span><%= vspace  %>

<%= vspace 30 %>
<div class='section-header'>Jams</div>
<%= partial :"/song/jams", :locals => {:jams => @song.jams} %>

