<font size='4'>Song / "<%= @song.name %>"</font> 
<br><br>

<%= add_field_name 'Actions' %> 
<a href='javascript: history.go(-1)' class='simple-link'>Back</a>,
<a class='simple-link' href='/song/<%= @song.id %>/manage'>Manage</a>, 
<a href='?' class='simple-link'>Refresh</a>
<br><br>


<div id='basic-info'
	<%= partial("song/basic_info", :locals => {:song => @song}) %>
</div>
<br>
<%= section_header 'Jams' %>
<%= partial(:'song/jams', {:locals => {:jams => @song.jams}}) %>
<br>
<%= section_header 'Lyrics' %>
