<%= render_state({:name => @song.name, :description => @song.description, :url => "/song/#{@song.id}", :context_menu => "/song/#{@song.id}/context_menu"}) %>

<%= vspace 10 %>
<div class='song-page song'>
  <div class='image'>
    <img src='<%= @song.song_picture_url %>' width='78px' height='78px'>
  </div>
  <div class='content'>
    <div class='name'><%= @song.name %></div>
    <div class='artist link' <%= profile_link @song.creator %>><%= @song.creator.username %></div>
    <div class='play-waveform'>
      <% waveformid = rand_id %>
      <div style='position: absolute; left: 0px;' class='play' <%= play_info @song %> waveformid='<%= waveformid %>' playtype='waveform'><%= icon "/images/42.png", 2, 42, true %></div>
      <div class='waveform' style='position: relative; margin-left: 50px' id="<%= waveformid %>">
        <div class="buffer"></div>
        <div class='seek'>
          <img src='<%= @song.file_data.waveform_url rescue "-" %>' class='waveform-image'>
        </div>
      </div>
    </div>
  </div>
</div>

<%= vspace 30 %>
<div class='section-header'>Information</div>
<% moreref = rand_id %>
<div class='overflow-hidden s11' style='height: 106px' id='<%= moreref %>'>
  <div class='field'>Name:</div><span><%= @song.name %></span><%= vspace %>
  <div class='field'>Artists:</div><span><%= @song.artists.map(&:username).join(", ") %></span><%= vspace %>
  <div class='field'>Instruments:</div><span><%= @song.instruments.map(&:name).join(", ") %></span><%= vspace %>
  <div class='field'>Genre:</div><span><%= @song.genre_names %></span><%= vspace  %>
  <% file_data = @song.file_data  %>
  <% if file_data %>
    <div class='field'>Length:</div><%= file_data.length.to_time_str %> <%= vspace %>
    <div class='more link' moreref='<%= moreref %>'>more</div>
  
    <div class='field'>Mode:</div><%= file_data.mode %> <%= vspace %>
    <div class='field'>Sample Rate:</div><%= file_data.samplerate %> Hz<%= vspace %>
    <div class='field'>Bit Rate:</div><%= file_data.bitrate %> kbps<%= vspace %>
    <div class='field'>File Size:</div><%= file_data.filesize.to_mb %><%= vspace %>
  <% end %>
</div>

<%= vspace 30 %>
<div class='section-header'>Jams</div>
<%= partial :"/song/jams", :locals => {:jams => @song.jams} %>


<%= vspace 20 %>
<div class='section-header'>Comments</div>
<div id='song-comments'>
	<%= partial(:'common/comments', {
		:locals => {
			:comments => @song.comments, 
			:for_type => 'song', 
			:for_type_id => @song.id,
			:managers => @song.artists
			}
		}
	)%>
</div>