<font size='4'>Song / "<%= @song.name %>"</font> 
<span class='display-inline' style='padding-left:10px' title='Edit Song'>(<a class='simple-link' href='/song/<%= @song.id %>/manage'>manage</a>)</span>
<br><br>
<div class='music-desc'>
  <%= add_field_name 'Description' %> <%= @song.description %><br>
  <%= add_field_name 'Artists' %> <%= partial(:'common/list_artists', {:locals => {:artists => @song.artists}}) %><br>
  <%= add_field_name 'Creator' %> <%= add_profile_link @song.creator %><br>
  <%= add_field_name 'Views' %> <%= @song.views %><br>
</div>
<br>
<%= section_header 'Jams' %>
<%= partial(:'song/jams', {:locals => {:jams => @song.jams}}) %>
<br>
<%= section_header 'Lyrics' %>
