<div class='bold'>Session</div>
<%= vspace %>
A Session is time period in which focus the is put towards, either, a style, a genre, an instrument, etc. <br>
<%= vspace 20 %>
<div class='bold'>Alpha Rhythm Session</div>
<%= vspace %>
We thank all who have joined, we can now have our first Session, "Alpha Rhythm Session". The Alpha Rhythm Session will only exist during the "Alpha Music Release". 
<br>This and the next session, Alpha Collaboration Session, is to help every artist understand the system.
<%= vspace %>
The first task/request of the Alpha Musicians is to<%= vspace 10 %>
<div class='italic'>"publish a rhythm jam of any instrument/vocal and style which could be used by another artist to collaborate on(in the next session)"</div>

<%= vspace 10 %>
<b> Duration of the session:</b> <br>Ideally we would like a session to last not more than 10-15 days. 
Although, Since this is our first session and is a learning session, the duration is yet to be determined. As soon as we feel that the system is understood, we will move on to the next session.

<%= vspace 20 %>
Kindly do take part in this session. As we mentioned before your usage (the Alpha Musician release) will define jammm.in (along with the idea of music collaboration) and will lay the foundation for the future of jammm.in.

<%= vspace 20 %>
Thanks.<br>
jammm.in team.