<div class='bold'>Alpha Rhythm Session</div>
<%= vspace %>
Firstly, we would like to apologise for the deplay in releasing the Sessions feature. The delay occurred as we had to focus our attention on smaking jammm.in more stable. 

<%= vspace 20 %>
<div class='bold'>Session</div>
<%= vspace %>
A Session is time period in which focus is put towards, either, a style, a genre, an instrument, etc. <br>
<%= vspace 20 %>
<div class='underline'>Alpha Rhythm Session</div>
Thanks to all of you who have joined, we can now our first Session, "Alpha Rhythm Session". The Alpha Rhythm Session is only present during the "Alpha Music Release". 
<br>This and the next session, Alpha Collaboration Session, is to help every artist understand the system.
<%= vspace %>
The first task/request of the Alpha Musicians is to<%= vspace 10 %>
<div class='italic'>"publish a rhythm jam of any instrument/vocal and style which could be used by another artist to collaborate on(in the next session)"</div>

<%= vspace 10 %>
<b> Duration of the session:</b> <br>Since this is our first session and is a learning session, the duration is yet to be determined. As soon as we have enough jams uploaded in this session, we will move on to the next session.