<% 
	song = fhlp_get_song(feed) 
	users = fhlp_get_users(feed)
%>
<div class='feed'>
  <div class='profile-picture'>
    <%= profile_picture users[0] %>
  </div>
  <div class='content'>
    <div class='title'>
      <% users.each {|user| %>
        <span class='name'><%= user.username %></span>, 
      <% } %>
       published the song <span class='name'><%= song.name %></span>
    </div>
    <%= vspace 10 %>
    <%= partial (:'common/song', :locals => {:song => song}) %><br>
  </div>
</div>