<% users = fhlp_get_users(feed) %>
<div>
	<span class='float-left'>
		<%= add_icon_with_pad %>
	</span>
	<% if not is_update %>
		<% if users[1] == session_user? %>
			You are being followed by <%= profile_link(users[0]) %>
		<% else %>
			You are now following <%= profile_link(users[1]) %>
		<% end %>
	<% else %>
		<%= add_profile_link(users[0]) %> is now following <%= profile_link(users[1]) %>
 	<% end %>
</div>