<div id='sheet-music-container'>
  <a href="javascript: addSheetMusicForm()" class='simple-link'>Add Sheet Music</a>
  <div id='add-sheet-music-div' style='visibility: hidden'><br>
    <iframe id='add-sheet-music-iframe' src='/partial/jam/manage/sheet_music/add_sheet_music_form?jam_id=<%= jam.id %>' style='border:none; width: 500px; height: 0px'></iframe>
  </div>
  <br>
  <%= partial '/jam/manage/sheet_music/list_sheets', :locals => {:jam => jam} %>
  
</div>
<%= js_start %>
  function addSheetMusicForm(){ 
    var el = $('add-sheet-music-div');
    el.style.visibility = 'visible';
    var el2 = $('add-sheet-music-iframe');
    el2.style.height = '180px';
  }
  
  function deleteSheetMusic(id){
   	var url = formatController('jam', <%= jam.id %>, 'manage', 'delete_sheet_music');
   	url = formatUrl(url, {sheet_music_id: id});
	  call(url, {onSuccess: reloadSheetMusic});
  }
  
  function reloadSheetMusic(){
   	var url = formatController('jam', <%= jam.id %>, 'manage', 'sheet_music');
    updateEl('sheet-music-container', url);
  }
<%= js_end %>
