<% code = param?(:code) %>

<%= section_header "Sign up" %>
<%= vspace %>
<span class='italic'>All fields are required.</span>
<%= vspace %><%= vspace %>

<form method='post' id='form-new-user' action='/signup/create' onsubmit="makeNewUser(); return false;">
  <%= field 'Full Name' %>
  <input type='text' name='form[name]'>
  <%= vspace %>
  <%= field 'Username' %>
  <input type='text' name='form[username]'>
  <%= vspace %>
  <%= field 'Password' %>
  <input type='password' name='form[password]'>
  <%= vspace %>
  <%= field 'Confirm Password' %>
  <input type='password' name='form[confirm_password]'>
  <%= vspace %> 
  <%= field 'Location' %> 
  <input type='text' name='form[location]'>
  <%= vspace 25 %>  
  <input type='hidden' value='<%= code %>' name='form[code]'>
  <input type='submit' value='Sign Up'>
</form>
<%= vspace %>
<div id='new-user-response'></div>
<br>
<br>


<%= js_start %>
  function makeNewUser(){
    var form = $('form-new-user');
    showLoadingMessage("new-user-response", "Please wait while your jamMmin account is being created...")
    form.request({
      onSuccess: function(){loadUrl("/account/aboutme")},
      onFailure: loadResponseFn('new-user-response')
    });
  }
<%= js_end %>
