<%= section_header "Sign up" %>
<%= vspace %>
<span class='italic'>All fields are required.</span>
<%= vspace %><%= vspace %>

<form method='post' action='/signup/create'>
  <%= field 'Username' %>
  <input type='text' name='form[username]'>
  <%= vspace %>
  <%= field 'Password' %>
  <input type='password' name='form[password]'>
  <%= vspace %>
	<%= field	'Full Name' %>
  <input type='text' name='form[name]'>
  <%= vspace %>
	<%= field 'Email' %>
  <input type='text' name='form[email]'>
  <%= vspace %>
	<%= field 'Location' %>
	<input type='text' name='form[location]'>
  <%= vspace %>
  <input type='submit' value='Sign Up'>
</form>
<br>
<br>
