<% code = param?(:code) %>

<div class="overview-header">
  Sign Up
</div>


<form method='post' id='form-new-user' action='/signup/create' onsubmit="return false;">
  <%= field 'Full Name' %><%= vspace %>
  <input type='text' name='form[name]'>
  <%= vspace 10 %>
  
  <%= field 'Username' %> <%= vspace 5 %>
  <input type='text' name='form[username]'>
  <%= vspace 10 %>
  
  <%= field 'Password' %> <%= vspace 5 %>
  <input type='password' name='form[password]'>
  <%= vspace 10 %>
  
  <%= field 'Confirm Password' %> <%= vspace 5 %>
  <input type='password' name='form[confirm_password]'>
  <%= vspace 10 %> 
  
  <%= field 'Location (e.g Bangalore, India)' %> <%= vspace 5 %>
  <input type='text' name='form[location]'><%= vspace 10 %>
  <div>
    <input type='checkbox' id='checkbox-tc' name='form[tc]' CHECKED> 
    I agree to the <span class='bold clickable underline' onclick='General.showTermsAndConditions()'>terms and conditions</span>
  </div>
  <%= vspace 25 %>  
  <input type='hidden' value='<%= code %>' name='form[code]'>

  <div class="class-relative" onclick='General.User.signup()'>
    <div class="button float-right" style='overflow: auto; margin-right: 40px'>
      <div class="icon"><%= icon "/images/16.png", 1, 16, true %></div>
      <div class="text" style='color: black'>Sign Up</div>
    </div>
  </div>
  <div class="clear-both"></div>
  <%= vspace  %>
  <div class="response" style='height: 30px'>

  
</form>
<%= vspace %>

<%= js_start %>
  General.Overview.animateResize();
<%= js_end %>