<% total_unread = session_user?.unread_notifications.size %>

<div class='main-info'>
  <%= main_info_row('Unread Notifications', total_unread) %>
  <%= main_info_hor_line %>
  <%= main_info_row('Total (read) Notifications', session_user?.notifications.size) %>
</div>

<%= vspace 20 %>
<%= partial("/account/notifications/notifications", :locals => {:notifications => session_user?.unread_notifications}) %>

<%= vspace 20 %>
<%= partial(
  "/account/notifications/old_notifications", 
  :section_header => SectionHeader.new('Old (read) notifications'), 
  :collapsible => true, 
  :locals => {:notifications => session_user?.read_notifications(20)}
) %>

<!-- Marks all user notifications as read -->
<% session_user?.mark_notifications_as_read if total_unread > 0 %>
