<div class='pad1'>
  <div style='padding: 5px'>
    <div>
      <span class='float-left pad-right-5'><%= icon :user %></span>
      <span class='float-left bold simple-link'><%= profile_link artist %></span>
      <span class='float-right simple-delete' title='Untag <%= artist.name %>' onclick="untagArtistInJam('<%= @jam.id %>', '<%= artist.id %>')">x</span>
    </div>
		<div>
			<!-- Jam Artist's Instruments -->
			<table>
				<tr>
				  <td><%= field 'Instruments' %></td>
				  <td>
					  <%= partial ("common/manage_instruments", :locals => {
						  :for_type => "jam_artist",
						  :for_type_id => jam_artist.id
					  }) %>
				  </td>
			</tr>
		</table>
		</div>
  </div>
</div>

