<form id='jam-information' method='post' action='/jam/<%= jam.id %>/manage/update_information' onsubmit='return false'>
<%= field 'Name:' %><input type='text' name='name' value='<%= jam.name %>'><%= vspace %>
<%= field 'Description:' %><textarea name='desc' class='align-top'><%= jam.description %></textarea><%= vspace %>

<div id='save-information-response'></div>
<input type='button' value='Save' onClick='saveJamInformation("jam-information")'>
</form>
<hr class='light'>
<table cellspacing=0 cellpadding=0>
  <tr>
    <td><%= field 'Genre' %></td>
    <td>
      <%= partial ("common/manage_genres", :locals => {
      :for_type => "jam",
      :for_type_id => jam.id
      }) %>
    </td>
  </tr>
</table>
<%= vspace %>

<table cellspacing=0 cellpadding=0>
  <tr>
    <td><%= field 'Tags' %></td>
    <td>
      <%= partial ("common/manage_tags", :locals => {
      :for_type => "jam",
      :for_type_id => jam.id
      }) %>
    </td>
  </tr>
</table>

<!-- Policy for the jam -->
<% policy_select_id = rand_id %>
<%= field 'Policy' %>
<select id='<%= policy_select_id %>' onchange="setJamPolicy(this, <%= jam.id %>)">
  <% Jam.policies.each do |policy| %>
    <option value='<%= policy[:name] %>'><%= policy[:desc] %></option>
  <% end %>
</select>
<div id='policy-response'></div>

<%= js_start %>
  // Sets the policy in the dropdown
  window.setTimeout(function(){
    $('<%= policy_select_id %>').setValue('<%= jam.policy %>');
  }, 1000)
<%= js_end %>