<form id='jam-information' method='post' action='/jam/<%= jam.id %>/manage/update_information' onsubmit='return false'>
<table>
  <tr>
    <td><%= add_field_name 'Name' %></td>
    <td><input type='text' name='name' value='<%= jam.name %>'></td>
  </tr>
  <tr>
    <td><%= add_field_name 'Description' %></td>
    <td><textarea name='desc'><%= jam.description %></textarea></td>
  </tr>
</table>

<div id='save-information-response'></div>
<input type='button' value='Save' onClick='saveJamInformation'>
</form>