<form id='jam-information' method='post' action='/jam/<%= jam.id %>/manage/update_information' onsubmit='return false'>
<%= field 'Name:' %><input type='text' name='name' value='<%= jam.name %>'><%= vspace %>
<%= field 'Description:' %><textarea name='desc' class='align-top'><%= jam.description %></textarea><%= vspace %>

<table cellspacing=0 cellpadding=0>
  <tr>
    <td><%= field 'Genre' %></td>
    <td>
      <%= partial ("common/manage_genres", :locals => {
      :for_type => "jam",
      :for_type_id => jam.id
      }) %>
    </td>
  </tr>
</table>


<div id='save-information-response'></div>
<input type='button' value='Save' onClick='saveJamInformation("jam-information")'>
</form>