<%= render_state({:name => "MANAGE - " + @jam.name, :description => @jam.description, :url => "/jam/#{@jam.id}"}) %>
<% jam = @jam %>

<img src='/new-ui/song2.jpg'>

<%= vspace 30 %>
<div class='section-header'>Update Audio File</div>
<form>
  <div class='field'>File Handle:</div><%= jam.file_handle %><%= vspace 10 %>
  <div class='field'>File Size:</div><%= jam.file.size.to_s %><%= vspace 10 %>
  <div class='field'>Choose File</div><input type='file' name='file'>
    <%= vspace 10 %>
    <input type='submit' value='Update'
</form>

<%= vspace 30 %>
<div class='section-header'>Information</div>
<div class='field'>Jam Name:</div><input type='text' name='name' value="<%= jam.name %>"><%= vspace 10 %>

<div class='field'>Instrument:</div>
<select name='instrument'>
  <% Instrument.all.each{|i| %>
    <option value='<%= i.id %>'><%= i.name %></option>
  <% } %>
</select>
<%= vspace 10 %>

<div class='field'>Genre:</div><%= jam.name %><%= vspace 10 %>

<div class='field float-left'>Description:</div><textarea name='description'><%= jam.description %></textarea>

<div class='clear-both'></div>
<%= vspace %>