
<div>
  <span class='float-left'>
    <a href='javascript: history.go(-1)'><%= icon :back %></a>
    <font size=4>Jam / "<%= @jam.name %>" / Manage</font>
  </span>
  <span class='float-right'><a class='simple-link' href='/jam/<%= @jam.id %>'><%= icon :jam_page %></a></span>
</div>

<br><br>

<div class='music-desc round'>
  <%= field 'Creator:' %><%= @jam.creator.name %><br>
	<%= field 'Created On:' %><%= @jam.created_at.date %><br>
	<%= field 'Type:' %><%= display_jam_type(@jam) %>
</div>
<br>

<div class='text-right pad-5'>
<% if not @jam.published %>
	<input type='button' value='Publish' onclick='publishJam("<%= @jam.id %>")'>
<% else %>
	<input type='button' value='Unpublish' onclick='unpublishJam("<%= @jam.id %>")'>
<% end %>
<input type='button' value='Delete' onclick='deleteJam("<%= @jam.id %>")'>
<input type='button' value='Make Copy'>
</div>

<%= section_header 'File' %>
<div id='jam-file-actions'>
	<%= partial('jam/manage/file_actions') %>
</div>


<%= partial('jam/manage/information', {
	:locals => {:jam => @jam}, 
	:section_header => SectionHeader.new('Information'),
	:collapsible => true
}) %>

<%= section_header 'Artists' %>
<div id='jam-artists'>
  <%= partial('jam/manage/artists', {:locals => {:artists => @jam.artists}}) %>
</div>
<br><br>

<%= partial('jam/manage/jam_picture', :section_header => SectionHeader.new('Jam Picture'), :collapsible => true) %>