<%= vspace 10 %>
<%= render_state({
  :name => @jam.name, 
  :description => @jam.description, 
  :url => "/jam/#{@jam.id}/manage",
  :context_menu => false,
  :img => "/images/navigation/jam-manage.png"
}) %>
<% jam = @jam %>
<div class="page-header">Jams <span class="slash">/</span> <%= @jam.name %> <span class="slash">/</span> Edit</div>
<%= vspace 20 %>

<div class='single-jam jam'>
  <div class='image'>
    <img src='<%= @jam.image_url_big %>' width='78px' height='78px'>
  </div>
  <div class='content'>
    <div class='name'><%= @jam.name %></div>
    <div class='artist'><%= @jam.creator.name %></div>
    <div class='play-waveform'>
      <% if @jam.unpublished? %>
        <div class='unpublished-overlay'>This jam is unpublished.</div>
      <% end %>
      
      <% waveformid = rand_id %>
      <div class='play' <%= play_info @jam %> waveformid='<%= waveformid %>' playtype='waveform'>
        <%= icon "/images/42.png", 2, 42, true %>
      </div>
      <div class='waveform  <%= "opacity-02" if @jam.unpublished? %>' id="<%= waveformid %>">
        <div class="buffer"></div>
        <div class='seek'>
          <img src='<%= @jam.file_data.waveform_url rescue "-" %>' class='waveform-image'>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='position-relative h30'>
  <% if @jam.published %>
    <div class="button" style='float: right; margin-left: 10px' onclick='Jam.Manage.unpublish("<%= @jam.id %>")'>
      <div class="icon"><img src='/new-ui/generic-delete.png' height='16px'></div>
      <div class="text">Unpublish</div>
    </div>
  <% else  %>
    <div class="button" style='float: right; margin-left: 10px' onclick='Jam.Manage.publish("<%= @jam.id %>")'>
      <div class="icon"><img src='/new-ui/generic-add.png' height='16px'></div>
      <div class="text">Publish</div>
    </div>
  <% end %>
  <div class="button" style='float: right; margin-left: 10px' onclick='Jam.Manage.deleteJam("<%= @jam.id %>")'>
    <div class="icon"><img src='/new-ui/generic-delete.png' height='16px'></div>
    <div class="text">Delete Jam</div>
  </div>
  
  <div class="button" style='float: right; margin-left: 10px' onclick='Jam.Manage.updateAudioFile("<%= jam.id %>")'>
    <div class="icon"><%= icon "/images/16.png", 0, 16, true %></div>
    <div class="text">Update Audio File</div>
  </div>
  
</div>

<%= vspace 30 %>
<div class='section-header'>Information</div>
<div class='field'>Jam Name:</div>
<input type='text' style='margin-left: -3px;' name='name' value="<%= jam.name %>" onedit='blur' run="/jam/<%= jam.id %>/manage/update_info?key=name">
<%= vspace 10 %>

<div class='field float-left'>Instrument:</div>
<div class='display-inline-block'>
  <% instrument = jam.instrument %>
  <select name='instrument' onedit='change' run="/jam/<%= jam.id %>/manage/update_instrument?">
    <% Instrument.all.each{|i| %>
      <option value='<%= i.id %>' <%= "SELECTED" if i.id == instrument.id %>><%= i.name %></option>
    <% } %>
  </select>
</div>
<%= vspace 10 %>

<div class='field float-left'>Genre:</div>
<%= partial ("common/manage_genres", :locals => {
    :for_type => "jam",
    :for_type_id => jam.id
}) %>

<%= vspace 15 %>

<div class='field float-left'>Description:</div><textarea name='description' onedit='blur' run="/jam/<%= jam.id %>/manage/update_info?key=description"><%= jam.description %></textarea>

<div class='clear-both'></div>
