
<font size=4>Jam / "<%= @jam.name %>" / Manage</font><br><br>
<%= add_field_name 'Actions' %> 
<a href='javascript: history.go(-1)' class='simple-link'>Back</a>,
<a class='simple-link' href='/jam/<%= @jam.id %>'>Jam Page</a>, 
<a href='?' class='simple-link'>Refresh</a>
<br><br>

<div class='music-desc'>
  <%= add_field_name 'Creator' %> <%= @jam.creator.name %><br>
	<%= add_field_name 'Created On' %> <%= @jam.created_at.date %><br>
	<%= add_field_name 'Type' %> <%= display_jam_type(@jam) %>
</div>
<br>

<div class='text-right pad-5'>
<% if not @jam.published %>
	<input type='button' value='Publish' onclick='publishJam("<%= @jam.id %>")'>
<% else %>
	<input type='button' value='Unpublish' onclick='unpublishJam("<%= @jam.id %>")'>
<% end %>
<input type='button' value='Delete' onclick='deleteJam("<%= @jam.id %>")'>
<input type='button' value='Make Copy'>
</div>

<%= section_header 'File' %>
<div id='jam-file-actions'>
	<%= partial('jam/manage/file_actions') %>
</div>

<%= section_header 'Information' %>
  <%= partial('jam/manage/information', {:locals => {:jam => @jam}}) %>

<%= section_header 'Artists' %>
<div id='jam-artists'>
  <%= partial('jam/manage/artists', {:locals => {:artists => @jam.artists}}) %>
</div>