
<font size=4>Jam / "<%= @jam.name %>" / Manage</font>
<span class='display-inline' style='padding-left:10px' title='Jam Page'>(<a class='simple-link' href='/jam/<%= @jam.id %>'>jam page</a>)</span>
<br><br>
<%= section_header 'File' %>
<form method='post' action='/jam/uploadmp3' enctype='multipart/form-data'>
	<input type='file' name='mefile'><br>
	<input type='submit' value='Upload JAM'>
</form>
<%= section_header 'Information' %>
  <%= partial('jam/manage/information', {:locals => {:jam => @jam}}) %>
<%= section_header 'Artists' %>
  <%= partial('jam/manage/artists', {:locals => {:artists => @jam.artists}}) %>
