<div>
	<%= section_header 'Add User' %>
		<div class="text">Enter a username of a user who already exists</div><%= vspace %>
	<div>
		<form id='school-admin-add' method='post' action='/schools/<%= @school.handle %>/admin/add_user_api' onsubmit='return false'>
			<%= field 'User Name:' %><input type='text' name='name' value=''><%= vspace %>
			<input type='button' value='Add' onClick='addSchoolUser("school-admin-add")'>
			<div id='add-school-user-response'></div>
		</form>
	</div>
</div>

<%= vspace 20 %>
<%= partial (:"/schools/admin/invite_by_email", :section_header => SectionHeader.new('Invite by Email'), :collapsible => true, :collapsed => false) %>

<%= vspace 20 %>
<div>
	<%= section_header 'Users' %>
	<% users = @school.users %>
	<%= partial("common/manage_school_users", :locals => {:users => users}) %>
</div>

<%= js_start %>
        setSelectedMenuItem('menu-item-school-users')
<%= js_end %>
