<div>
	<%= section_header 'School Details' %>
	<div>
		<form id='school-admin-manage-school' method='post' action='/schools/<%= @school.handle %>/admin/manage_school_api' onsubmit='return false'>
			<%= field 'Name' %><input type='text' name='name' value='<%= @school.name %>'><%= vspace %>
			<%= field "Address" %><input type='text' name="address" value='<%= @school.address %>'><%= vspace %>
			<%= field 'Phone' %><input type='text' name='phone_number' value='<%= @school.phone_number %>'><%= vspace %>
			<input type='button' value='Update' onClick='addUpdateSchoolDetails("school-admin-school-update")'>
			<div id='update-school-details-response'></div>
		</form>
	</div>
</div>