<%= section_header 'Site Counter' %>
<% stats = SiteCounter.find_all(:order => "counter DESC") %>
<% stats.each do |stat| %>
  <div>
    <div class='float-left'><%= stat.url %></div>
    <div class='float-right'><%= stat.counter %></div>
  </div>
  <%= vspace %>
<% end %>

<br><br>
<%= section_header 'User Log In Counter' %>
<% users = User.find_all(:order => "log_in_counter DESC") %>
<% users.each do |user| %>
  <div>
    <div class='float-left'><%= user.username %></div>
    <div class='float-right'><%= user.log_in_counter %></div>
  </div>
  <%= vspace %>
<% end %>