<%= section_header 'Badges' %>
Badges are awarded based on the user's contribution.<%= vspace 20 %>

<% Badge.all.each do |badge| %>
  <div class='position-relative' style='margin-bottom: 20px; min-height: 38px'>
    <div class='position-absolute'>
      <img height="32px" src="<%= badge.image_url %>">
    </div>
    <div class='position-relative' style="margin-top: 1px; margin-left: 38px"> 
      <b><%= badge.name %></b>
      <div class='text'><%= badge.description %></div>
      
      <%= vspace %>
      <%= list_thumbnails badge.users.shuffle %>
    </div>
  </div>
<% end %>

<%= js_start %>
	setSelectedMenuItem('menu-item-badges')
<%= js_end %>

