<% jam = feed.dataObj.jam %>
<div class='feed'>
  <div class='thumbnail'>
    <img src='<%= jam.creator.profile_picture_url %>'>
  </div>
  <div class='content'>
    <span class='bold link clickable' <%= profile_link jam.creator %>><%= jam.creator.username %></span> published
    <div class='entity'>
      <div class='entity-image'>
        <img src='/new-ui/saxophone.png'>
      </div>
      <div class='entity-info'>
        <div class='bold clickable link' <%= music_link jam %>><%= jam.name %></div>
        <%= vspace 10 %>
        <div>
          <div class='field-name'>Views:</div><%= jam.views %>
          <%= hspace 10 %>
          <div class='field-name'>Length:</div><%= jam.file_data.length.to_time_str rescue "-" %>
          <%= hspace 10 %>
          <div class='field-name'>Likes:</div><%= jam.liked_by.count %>
        </div>
      </div>
    </div>
    <div class='time'><%= feed.created_at.reference_string %>&nbsp;
      <div class="float-right"><%= render_mini_play_text(jam) %></div>
    </div>
  </div>
</div>