<% song = feed.dataObj.song %>
<div class='feed'>
  <div class='thumbnail'>
    <img src='<%= song.creator.profile_picture_url %>'>
  </div>
  <div class='content'>
    <span class='bold link' onclick='Navigate.loadContent("/<%= song.creator.username %>")'><%= song.creator.username %></span> published
    <div class='entity'>
      <div class='entity-image'>
        <img src='/new-ui/collaborate.png'>
      </div>
      <div class='entity-info'>
        <div class='bold'><%= song.name %></div>
        <%= vspace 10 %>
        <div>
          <div class='field-name'>Views:</div><%= song.views %>
          <%= hspace 10 %>
          <div class='field-name'>Length:</div><%= song.file_data.length.to_time_str rescue "-" %>
          <%= hspace 10 %>
          <div class='field-name'>Likes:</div><%= song.liked_by.count %>
          <%= hspace 10 %>
          <div class='field-name'>Artists:</div><%= song.artists.map(&:username).join(", ") %>
        </div>
      </div>
    </div>
    <div class='time'><%= feed.created_at.reference_string %></div>
  </div>
</div>