<% 
	form_id = rand_id 
	response_id = rand_id
%>
<form id='<%= form_id %>' action='/account/aboutme/save_basic_info' method='get' onsubmit='return false'>
	<%= field 'Name'%>
	<input type='text' name='name' value='<%= session_user?.name %>'>
	<%= vspace %>

	<%= field 'Location' %>
	<input type='text' name='location' value='<%= session_user?.location %>'>
	<%= vspace %>
	
	<%= field 'Email' %>
	<input type='text' name='email' value='<%= (session_user?.email rescue '') %>'>
	<%= vspace %>
	
	<input type='button' value='Save' onClick='submitForm("<%= form_id %>", "<%= response_id %>")'>
	<%= vspace %>
	<div id='<%= response_id %>'></div>
</form>