<% 
	form_id = rand_id 
	response_id = rand_id
%>

<form id='<%= form_id %>' action='/account/aboutme/change_password' method='get' onsubmit='return false'>
  <%= field 'New Password' %><input type='password' name='password'><%= vspace %>
  <%= field 'Confirm New Password' %><input type='password' name='confirm_password'>
  <br><br>
  <div id='<%= response_id %>'></div>
  <input type='button' value='Change Password' onClick='submitForm("<%= form_id %>", "<%= response_id %>")'>
</form>