<% div_id = rand_id %>

<html>
<head>
	<%= partial('body/includes')%>
</head>

<%= js_start %>
  function showUploadingMessage(id){
    showLoadingMessage(id, "Please wait while your image is being uploaded...");
  }
<%= js_end %>

<body>
	<div class='w100'>
		<div style='float: left; width: 180px'>
      <%= profile_picture session_user? %>
		</div>
		<div class='float-left'>
			<form action='/account/aboutme/change_profile_picture' method='post' enctype='multipart/form-data' onsubmit="showLoadingMessage('<%= div_id %>'); return true;">
				<input type='file' name='picture'><%= vspace %>
				<input type='submit' value='Change'>
      </form>
      <%= vspace %>
  		<div id='<%= div_id %>'></div>
		</div>
	</div>
</body>
</html>