<% policy = session_user?.twitter_policy %>

Automatically post twitter updates of the following:<br><br>
<form id='form-twitter-share' action='/account/update_share_policy' method='get' onsubmit='updateTwitterPolicy(); return false'>
  <input type='checkbox' name='policy[jam_like]' value='true' <%= "CHECKED" if policy.jam_like %>> Jam Likes <%= vspace %>
  <input type='checkbox' name='policy[song_like]' value='true' <%= "CHECKED" if policy.song_like %>> Song Likes <%= vspace %>
  <input type='checkbox' name='policy[jam_publish]' value='true' <%= "CHECKED" if policy.jam_publish %>> Jam Publishes <%= vspace %>  
  <input type='checkbox' name='policy[song_publish]' value='true' <%= "CHECKED" if policy.song_publish %>> Song Publishes  <%= vspace %>  
  <input type='hidden' name='site' value='twitter'>
  <input type='submit' value='Update'>
  <div id='twitter-share-response'></div>
  <%= vspace 15 %>  
</form>

<%= js_start %>
  function updateTwitterPolicy(){
    var form = $('form-twitter-share');
    showLoadingMessage("Updating twitter policy...");
    form.request({
      onSuccess: loadResponseFn('twitter-share-response'),
      onFailure: loadResponseFn('twitter-share-response')
    })
  }
<%= js_end %>