<% styles = email_styles %>

<div style="<%= styles[:layout] %>">
  <div style="<%= styles[:main_heading] %>;">JAMMMIN FEATURE - "IMPORT YOUR SOUNDCLOUD TRACKS"</div>
  <%= vspace 10 %>
  You can now tracks from your SoundCloud account.
  <%= vspace 20 %>

    <div style="<%= styles[:section_heading] %>">HOW</div>
    <div style="<%= styles[:section_content] %>;">
      <li>Click on the <span style='font-weight: bold'>Import Tracks</span> button in the top of the right panel of your home page. </li>
      <li>You will be asked to log in to your SoundCloud account.</li>
      <li>Select the tracks you would like to import and click on the <span style='font-weight: bold'>Import</span> button.</li>
      <%= vspace 10 %>
      <div style='font-size: 11px'>note: Each track might take upto 30 seconds to import.</div>
      <%= vspace 20 %>
    </div>
    
    If you have any queries, contact us at <a href='mailto: support@jammm.in'>support@jammm.in</a>

  <%= vspace 20 %>

  Regards,<br>
  jamMm.in team<br>
  support@jammm.in<br>
  http://jammm.in
    
</div>


