<div class='position-relative round' <%= "style='background-color: #E5FFE5; padding-top: 3px'" if jam.song_jam_active? %>>
  <div class='position-absolute' style='padding: 0px 5px 5px 5px;'>
    <input type='checkbox' name='song-publish-form-song-jam' value='<%= jam.id %>' <%= jam.song_jam_flattened? ? "CHECKED" : "" %>>
  </div>
  <div class='position-absolute' style='left: 28px'>
    <%= play jam %>
  </div>
  <div class='position-absolute' style='left: 48px'>
    <%= download jam %>
  </div>

  <div class='position-absolute' style='right: 0px'>
		<span class='float-right simple-delete simple-link' title='Remove JAM' onclick="removeJamFromSong('<%= @song.id %>', '<%= jam.id %>')">x</span>
  </div>
  
  <!-- slider -->
  <div class='position-absolute' style='right: 20px; overflow: hidden'>
    <%= partial('/song/manage/slider', :locals => {
      :id => "jam-#{jam.id}-volume-slider", 
      :value => (jam.song_jam.volume * 25 rescue 1)
    }) %>
  </div>
  
  <div class='position-relative' style='margin: 0px 130px 0px 70px'>
    <span class='bold simple-link'><a href='/jam/<%= jam.id %>'><%= jam.name %></a>&nbsp;</span>
    <div class='text'>
      <%= partial(:'common/list_artists', :locals => {:artists => jam.artists}) %>
    </div>
  </div>
</div>

