<div>
  <span class='float-left' style='overflow: hidden'>
    <input type='checkbox' name='song-publish-form-song-jam' value='<%= jam.id %>' <%= jam.song_jam_active? ? "CHECKED" : "" %>>
  </span>
  <span class='pad1'>
    <span class='left-float pad-right-5'><%= play jam %></span>
    <div class='left-float'>
      <span class='bold simple-link float-left'><a href='/jam/<%= jam.id %>'><%= jam.name %></a>&nbsp;</span>
      <span class='float-left'>
        <% if jam.song_jam_flattened? %>
          (flattened)
        <% end %>
      </span>
      - <%= partial(:'common/list_artists', :locals => {:artists => jam.artists}) %><br>
    </div>
		<span class='float-right simple-delete simple-link' title='Remove JAM' onclick="removeJamFromSong('<%= @song.id %>', '<%= jam.id %>')">x</span>
  </span>
</div>

