<% 
  jam = song_jam.jam 
  classes = "jam"
  select = (song_jam.is_flattened or song_jam.active) ? true : false
  classes += " selected" if select
  waveform_url = select ? jam.file_data.waveform_url_2 : jam.file_data.waveform_url
  slider_id = rand_id
%>

<div class='<%= classes %>' jamid='<%= jam.id %>' volume='<%= song_jam.volume %>'>
  <div class='info'>
    <div class='name'><%= jam.name %></div>
    <div class='artist'><%= jam.creator.username %></div>
  </div>
  <div class='checkbox'><input type='checkbox' <%= "CHECKED" if select %>></div>
  <% waveformid = rand_id %>
  <div class='play clickable' sliderid="<%= slider_id %>" <%= play_info jam %> waveformid='<%= waveformid %>' playtype='waveform'><%= icon "/images/42.png", 2, 42, true %></div>
  <div class='instrument'><img src='<%= jam.image_url_small %>' height='36px'></div>
  <div class='volume'>
    <div class='icon'><%= icon "/images/24.png", 17, 24, true %></div>
    <div class='slider'>
      <div id="<%= slider_id %>" class='jquery-slider' jamid='<%= jam.id %>'></div>
    </div>
  </div>
  <div class='actions'>                                          
    <%= vspace %>
    <% if session_user? == jam.creator %>
      <div class="button" onclick='Jam.Manage.load("<%= jam.id %>")'>
        <div class="icon"><%= icon "/images/button-images-16.png", 4, 16, true %></div>
        <div class="text">Update</div>
      </div>
    <% end %>
  </div>
  <div class='waveform' id="<%= waveformid %>">
    <div class="buffer"></div>
    <div class='seek'>
      <img src='<%= waveform_url rescue "-" %>' class='waveform-image' width='100%' height='100%'  waveform2="<%= jam.file_data.waveform_url_2 %>" waveform="<%= jam.file_data.waveform_url %>">
    </div>
  </div>
</div>