<% 
	jams ||= @jams
	jams = jams.sort_by(&:id)
%>

<select id='song-manage-my-jams'>
	<option>My JAMS</option>
	<option>-------</option>
	<% (@session_user.jams - jams).each { |jam| %>
		<option value='<%= jam.id %>'><%= jam.name %></option>
	<% } %>
</select>
&nbsp;<input type='button' value='Add JAM' onclick='addJamToSong("<%= @song.id %>")'><br><br>
<% jams.each do |jam| %>
  <%= partial('song/manage/jam', {:locals => {:jam => jam }}) %><br>
<% end %>
<br>
<div>
  <input type='button' class='float-left' value='Flatten Song' onclick='flattenSong("<%= @song.id %>")'>
  <div class='position-relative float-left' style='padding-top: 3px; padding-left: 20px' title='Play Flattened File'>
    <%= play(nil, "/file/#{@song.flattened_file_handle}", "Flattened File") %>
  </div>
</div>

<%= vspace 20 %>
<div id='flatten-response'></div>
<div id='add-jam-resposne'></div>

<br>

