<% 
	jams ||= @jams
	jams = jams.sort_by(&:id)
%>

<select id='song-manage-my-jams'>
	<option>My JAMS</option>
	<option>-------</option>
	<% (@session_user.jams - jams).each { |jam| %>
		<option value='<%= jam.id %>'><%= jam.name %></option>
	<% } %>
</select>
&nbsp;<input type='button' value='Add JAM' onclick='addJamToSong("<%= @song.id %>")'><br><br>
<% jams.each do |jam| %>
  <%= partial('song/manage/jam', {:locals => {:jam => jam }}) %><br>
<% end %>
<br>
<input type='button' class='float-left' value='Flatten Song' onclick='flattenSong("<%= @song.id %>")'> <span class='float-left pad10'></span>
<span id='flatten-response'></span>
<div id='add-jam-resposne'></div>
<br><br>

