<% song = @song %>

<div class='main-info'>
  <div>
    <div class='align-middle display-inline-block'><%= icon :song %></div>
    <div class='music-title'><b><%= song.name %></b></div>
    <span class='align-middle'> - <%= profile_link(song.creator) %> </span>
  </div>
  <%= vspace %>

  <div class='pad-left-10'>
    <%= main_info_row('Creator', profile_link(song.creator)) %>
    <%= main_info_hor_line %>
    <%= main_info_row('Created On', song.created_at.date) %>
    <%= main_info_hor_line %>
    <%= main_info_row('Type', song.published ? display_published : display_unpublished) %>
  </div>
</div>

<table>
  <tr>
    <td><a href='/song/<%= song.id %>'><%= icon :song_page %></a></td>
    <td class='text-right w100 align-middle'>
      <% if @song.published %>
	      <input type='button' value='Unpublish' onclick='unpublishSong("<%= @song.id %>")'>
      <% else %>
	      <input type='button' value='Publish' onclick='publishSong("<%= @song.id %>")'>
      <% end %>
      <input type='button' value='Delete Song' onclick='deleteSong("<%= @song.id %>")'>
    </td>
  </tr>
</table>

<%= partial('song/manage/song_picture', :section_header => SectionHeader.new('Song Picture'), :collapsible => true, :locals => {:song => @song}) %>
<br>

<%= section_header 'Jams' %>
<div id='song-manage-jams'>
  <%= partial('song/manage/jams', {:locals => {:jams => @song.jams}}) %>
</div><br>

<%= section_header 'Information' %>
  <%= partial('song/manage/information', {:locals => {:song => @song}}) %>

<%= section_header 'Artists / Managers' %>
<div id='song-manage-artists-div'>
  <%= partial('song/manage/artists', {:locals => {:artists => @song.managers}}) %>
</div>
<br>

<%= section_header 'Lyrics' %>
<form action='/song/<%= @song.id %>/manage/add_lyrics' method='post' onsubmit='return false' id='song-lyrics-form'>
	<textarea name='lyrics'><%= @song.lyrics %></textarea>
	<br><br>
	<input type='submit' value='Save' onclick="submitForm('song-lyrics-form', 'song-lyrics-form-response')">
</form>  
<div id='song-lyrics-form-response'></div>

<%= partial('song/manage/file_information', :section_header => SectionHeader.new('File Information'), :collapsible => true, :collapsed => true) %>
