<% song = @song %>
<%= render_state({
  :url => "/song/#{@song.id}/manage", 
  :context_menu => false,
  :img => "/images/navigation/song-manage.png",
  :right_panel => "/partial/song/manage/right"
}) %>

<%= vspace 10 %>
<%= page_header ["Collaborations", @song.name, "Edit Collaboration"] %>
<%= vspace 20 %>
<div class='song-page song'>
  <div class='image'>
    <img src='<%= song.song_picture_url %>' width='78px' height='78px'>
  </div>
  <div class='content'>
    <div class='name'><%= @song.name %></div>
    <div class='artist'><%= @song.artists.map(&:username).join(", ") %></div>
    <div class='play-waveform'>
    <% if @song.unpublished? %>
      <div class='unpublished-overlay'>This collaboration is unpublished.</div>
    <% end %>
      <% waveformid = rand_id %>
      <div style='position: absolute; left: 0px;' class='play' <%= play_info @song %> waveformid='<%= waveformid %>' playtype='waveform'><%= icon "/images/42.png", 2, 42, true %></div>
      <div class='waveform <%= "hide" if song.unpublished? %>' style='position: relative; margin-left: 50px' id="<%= waveformid %>">
        <div class="buffer"></div>
        <div class='seek'>
          <img src='<%= @song.file_data.waveform_url rescue "-" %>' class='waveform-image'>
        </div>
      </div>
    </div>
  </div>
</div>

<%= vspace 10 %>
<div class='align-right clear-both'>
  <% if @song.published? %>
    <div class="button float-right" onclick='Song.Manage.unpublish("<%= song.id %>")'>
      <div class="icon"><%= icon "/images/button-images-16.png", 2, 16, true %></div>
      <div class="text">Unpublish</div>
    </div>
  <% else %>
  <div class="button float-right" onclick='Song.Manage.publish("<%= song.id %>")'>
    <div class="icon"><%= icon "/images/button-images-16.png", 1, 16, true %></div>
    <div class="text">Publish</div>
  </div>
  <% end %>
  <div class="button" style='float: right; margin-right: 10px' onclick='Song.Manage.deleteSong("<%= song.id %>")'>
    <div class="icon"><%= icon "/images/button-images-16.png", 2, 16, true %></div>
    <div class="text">Delete Collaboration</div>
  </div>
</div>

<div class="clear-both"></div>

<%= vspace 10 %>
<div class='section-header'>Jams</div>
<%= partial :"/song/manage/jams", :locals => {:song_jams => song.song_jams.sort_by(&:id)} %>
<div style='text-align: center; background-color: #e7e7e7; padding: 5px; '>
  <div class="button" onclick='Song.Manage.flatten("<%= @song.id %>")'>
    <div class="icon"><%= icon "/images/button-images-16.png", 8, 16, true %></div>
    <div class="text">Preview</div>
  </div>
</div>


<%= vspace 20 %>

<div class='section-header'>Information</div>
<div class='field'>Name:</div>
<input type='text' name='name' value='<%= song.name %>' onedit='blur' run="/song/<%= song.id %>/manage/update_info?key=name">
<%= vspace %>
<div class='field float-left'>Genre:</div>
<%= partial ("common/manage_genres", :locals => {
    :for_type => "song",
    :for_type_id => song.id
}) %>
<%= vspace 10 %>
<div class='field float-left'>Description:</div>
<textarea name='description' onedit='blur' run="/song/<%= song.id %>/manage/update_info?key=description"><%= song.description %></textarea>
<%= vspace 10 %>
<div class='field float-left'>Picture:</div>
<div class='display-inline-block'>
  <img src='<%= song.song_picture_url %>' height='78px'><%= vspace %>
  <input type='button' value='Update' onclick='Song.Manage.updatePicture("<%= song.id %>")'>
</div>

<%= js_start %>
  Song.Manage.generateSliders();
<%= js_end %>
