
<font size=4>Song / "<%= @song.name %>" / Manage</font><br><br>

<%= add_field_name 'Actions' %> 
<a href='javascript: history.go(-1)' class='simple-link'>Back</a>,
<a class='simple-link' href='/song/<%= @song.id %>'>Song Page</a>, 
<a href='?' class='simple-link'>Refresh</a>
<br><br>

<div class='music-desc'>
  <%= add_field_name 'Creator' %> <%= @song.creator.name %><br>
	<%= add_field_name 'Created On' %> <%= @song.created_at.date %><br>
	<%= add_field_name 'Status' %> <%= @song.published ? display_published : display_unpublished %>
</div>
<br>

<div class='text-right's style='padding: 5px'>
	<% if @song.published %>
		<input type='button' value='Unpublish' onclick='unpublishSong("<%= @song.id %>")'>
	<% end %>
	<input type='button' value='Delete Song' onclick='deleteSong("<%= @song.id %>")'>
</div>

<%= section_header 'File' %>
<%= partial('song/manage/file_information') %>

<%= section_header 'Jams' %>
<div id='song-manage-jams'>
  <%= partial('song/manage/jams', {:locals => {:jams => @song.jams}}) %>
</div>

<%= section_header 'Information' %>
  <%= partial('song/manage/information', {:locals => {:song => @song}}) %>

<%= section_header 'Artists / Managers' %>
<div id='song-manage-artists-div'>
  <%= partial('song/manage/artists', {:locals => {:artists => @song.managers}}) %>
</div>

<%= section_header 'Lyrics' %>
<form action='/song/<%= @song.id %>/manage/add_lyrics' method='post' onsubmit='return false' id='song-lyrics-form'>
	<textarea name='lyrics'><%= @song.lyrics %></textarea>
	<br><br>
	<input type='submit' value='Save' onclick="submitForm('song-lyrics-form', 'song-lyrics-form-response')">
</form>  
<div id='song-lyrics-form-response'></div>