
<a href='javascript: history.go(-1)' class='simple-link'><%= icon :back %></a>
<font size=4>Song / "<%= @song.name %>" / Manage</font>
<span class='float-right pad1'><a class='simple-link' href='/song/<%= @song.id %>' title='Song page'><%= icon :song_page %></a></span>
<br><br>

<div class='music-desc round'>
  <%= field 'Creator' %> <%= @song.creator.name %><br>
	<%= field 'Created On' %> <%= @song.created_at.date %><br>
	<%= field 'Status' %> <%= @song.published ? display_published : display_unpublished %>
</div>
<br>

<div class='text-right' style='padding: 5px'>
	<% if @song.published %>
		<input type='button' value='Unpublish' onclick='unpublishSong("<%= @song.id %>")'>
	<% else %>
		<input type='button' value='Publish' onclick='publishSong("<%= @song.id %>")'>
	<% end %>
	<input type='button' value='Delete Song' onclick='deleteSong("<%= @song.id %>")'>
</div>

<%= partial('song/manage/file_information', :section_header => SectionHeader.new('File Information'), :collapsible => true, :collapsed => true) %>

<%= section_header 'Jams' %>
<div id='song-manage-jams'>
  <%= partial('song/manage/jams', {:locals => {:jams => @song.jams}}) %>
</div><br>

<%= section_header 'Information' %>
  <%= partial('song/manage/information', {:locals => {:song => @song}}) %>

<%= section_header 'Artists / Managers' %>
<div id='song-manage-artists-div'>
  <%= partial('song/manage/artists', {:locals => {:artists => @song.managers}}) %>
</div>

<%= section_header 'Lyrics' %>
<form action='/song/<%= @song.id %>/manage/add_lyrics' method='post' onsubmit='return false' id='song-lyrics-form'>
	<textarea name='lyrics'><%= @song.lyrics %></textarea>
	<br><br>
	<input type='submit' value='Save' onclick="submitForm('song-lyrics-form', 'song-lyrics-form-response')">
</form>  
<div id='song-lyrics-form-response'></div>

<%= partial('song/manage/song_picture', :section_header => SectionHeader.new('Song Picture'), :collapsible => true, :locals => {:song => @song}) %>
