Your song has been successfully mixed. Click 'Publish' to publish the collaboration.
<%= vspace 10 %>
<div>
  <div class='play-waveform' style='position: relative'>
    <% waveformid = rand_id %>
    <div style='position: absolute; left: 0px;' class='play' <%= play_info @song, true %> waveformid='<%= waveformid %>' playtype='waveform'><%= icon "/images/42.png", 2, 42, true %></div>
    <div class='waveform' style='position: relative; margin-left: 50px' id="<%= waveformid %>">
      <div class="buffer"></div>
      <div class='seek'>
        <img src='<%= @song.flattened_file_data.waveform_url rescue "-" %>' class='waveform-image'>
      </div>
    </div>
  </div>
</div>
<%= vspace 20 %>
<div class='position-relative'>
  <div class="button" style='position: absolute; right: 10px' onclick='Song.Manage.publishPopup.publish("<%= @song.id %>")'>
    <div class="icon"><img src='/new-ui/generic-add.png' height='16px'></div>
    <div class="text">Publish</div>
  </div>
  
  <div class="button" style='position: absolute; right: 110px'  onclick='Song.Manage.publishPopup.publishLater("<%= @song.id %>")'>
    <div class="icon"><img src='/new-ui/generic-delete.png' height='16px'></div>
    <div class="text">Discard</div>
  </div>
  
</div>

<%= js_start %>
  General.resizeWaveforms();
<%= js_end %>