<% 
  value ||= 25;
  div_width_value = value;
  id ||= rand_id
%>

<div style='background: url(/images/common/volumebar1.png); width: 100px; height: 20px; overflow: hidden' id='<%= id %>-container'>
  <div style='padding-left: <%= div_width_value %>px; height: 20px; overflow: hidden' id='<%= id %>-head'>
    <img src='/images/common/volumeknob1.png' style='padding-top: 3px'>
  </div>
  <span name='slider-value'><%= value %></span>
</div>

<%= js_start %>

  (function(){
    sliderRegister('<%= id %>')
  })();

<%= js_end %>