
<% 
  heading_style = "color: #666" 
  section_content_style = "margin-left: 20px" 
%>

<div style="width:550px; font:12px arial, sans-serif;margin:0">

  <div style="color: #990000 !important; font-size: 14px">JAMMMIN</div><%= vspace 20 %>

  Thank you for accepting our invitation and creating an account at <a href='http://jammm.in'>jamMm.in</a>
  
  <%= vspace %>
  Please read through this whole mail as there is information and a message we would really like to convey.
  
  <br><br>
  <div style='<%= heading_style %>'>ALPHA MUSICIAN</div>
  <div style='margin-left: 20px'>
    As jamMm.in is in the pre-alpha release, we are being very careful of whom we invite and how we'd like them to contribute to the application. As their contributions will set a standard and definition of jamMm.in.
    <%= vspace %>
    As a result we had to hand pick who we would want to be a part of the definition ("Alpha musicians") of the application. We also keep jamMm.in a closed system as we need to be careful of the type of growth of the application.
    <%= vspace %>
    We kindly request you to be patient with the us, as new users (other Alpha Musicians) will be joining and collaborating with your music.
  </div>
  
  <%= vspace 20 %>  
  <div style='<%= heading_style %>'>AIM OF THE ALPHA-MUSICIAN RELEASE</div>  
  <div style='<%= section_content_style %>'>
    To have a diverse set of musicians (w.r.t genre and style) who will set the standard and definition of jamMm.in
  </div>

  
  <%= vspace 20 %>  
  <div style='font-size: 14px; color: #990000'>BASIC HOWTO</div>
  <%= vspace %>
  <div style='<%= heading_style %>'>WHAT IS A JAM</div>  
  <div style='<%= section_content_style %>'>
    A jam is a single piece of music (instrument or vocals).<br>
    e.g. 
      <li> A Guitar Rhythm
      <li> A Vocal track
      <li> A Drum Beat
      <br>
    A jam can be related to a track/layer in any music recording software.
  </div>
  
  <%= vspace 20 %>
  <div style='<%= heading_style %>'>WHAT IS A SONG</div>  
  <div style='<%= section_content_style %>'>
    A song is a collection of jams.<br>
    e.g.<br>
    <li>A Guitar Rhythm Jam
    <li>A Vocal Jam
  </div>
  
  <%= vspace 20 %>
  <div style='<%= heading_style %>'>HOW TO CREATE AND PUBLISH A JAM</div>  
  <div style='<%= section_content_style %>'>
    <li>Click "Create Jam" in your account menu
    <li>Upload the "MP3". <b>It needs to be 128 kbps and a 2 channel (stereo) MP3</b>
    <li>Click "Publish"</li>
    Now this jam can be heard and also added by anyone to make music on top of it.
  </div>
  
  <%= vspace 20 %>
  <div style='<%= heading_style %>'>HOW TO CREATE AND PUBLISH A SONG</div>  
  <div style='<%= section_content_style %>'>
    <li>Click "Create Song" in your account menu
    <li>In the jams section, add all your jams you would want to be a part of the song
    <li>Click "Preview Song", which mixes all the selected jams
    <li>Click "Play Preview", to listen to the mix
    <li>Click "Publish"</li>
    Now this song can be heard and also added by anyone to make music on top of it.
  </div>
  
  <%= vspace 20 %>
  <div style='<%= heading_style %>'>IF YOU ALREADY HAVE A MP3 RECORDED</div>
  <div style='<%= section_content_style %>'>
    <i>If this MP3 contains a whole song (i.e: multiple instruments with vocals)</i><br>
    <li>Click "Create Jam" in your account menu
    <li>Upload the "MP3". <b>It needs to be 128 kbps and a 2 channel (stereo) MP3</b></li>
    <li>Follow the above section "HOW TO CREATE AND PUBLISH A SONG"<br>
    Note: To the newly created song, you will be adding the jam you created in 1st and 2nd point.</li>
  </div>

  <%= vspace 20 %>
  <div style='<%= heading_style %>'>NOTE</div>  
  <div style='<%= section_content_style %>'>
    Please feel free to suggest or directly invite anyone who could add value to the "Aplha Musician" release.<%= vspace %>
    All MP3s that are uploaded needs to be at bit rate 128 kbps and a 2 channel (stereo) MP3</b><%= vspace %>
    Please feel free to email us with any questions you have
  </div>
  
  <%= vspace 20 %>
  Regards,<br>
  jamMm.in support<br>
  support@jammm.in<br>
  http://www.jammm.in<br>
</div>
