<% styles = email_styles %>

<div style="<%= styles[:layout] %>">
  <div style="<%= styles[:main_heading] %>;">SESSIONS</div>
  <%= vspace 20 %>
  We are back after a long period of no visible activity on the site by us. We took that time to focus on a few 
  important technical and roadmap details. We now declare the addition of a new feature "Sessions".
  <%= vspace 20 %>
  
  <div style="<%= styles[:section_heading] %>;">What is a Session?</div>
  <div style="<%= styles[:section_content] %>;">
    A Session is time period in which focus is put towards, either, a style, a genre, an instrument, etc. <br>There are going to be many 
    different sessions being held once in a while e.g. Jazz Session, Fusion Session, etc. This session is called the <b>Alpha Rhythm Session</b>
  </div>
  <%= vspace 20 %>
  <div style="<%= styles[:section_heading] %>;">What are the intentions of this feature?</div>
  <div style="<%= styles[:section_content] %>;">
    <li>To bring about a pattern in the life of jammm.in</li>
    <li>To bring in the concept of a stage and an event</li>
    <li>To help all the artists understand the working of jammm.in</li>
    <li>To get all the artists focusing on a same thing for a short period of time</li>
  </div>
  
  <%= vspace 20 %>
  <div style="<%= styles[:section_heading] %>;">What is the name of this session and what is this session's primary focus?</div>
  <div style="<%= styles[:section_content] %>;">
    This session is called the <b>"Alpha Rhythm Session"</b>. Its primary focus is to help all the artists understand the system.
  </div>

  <%= vspace 20 %>
  <div style="<%= styles[:section_heading] %>;">How to take part and what needs to be done?</div>
  <div style="<%= styles[:section_content] %>;">
    . Publish a jam with a rhythm<br>
    . The jam can contain any instrument (e.g drum, guitar, vocal), but only one instrument <br>
    . Any number jams can be published.<br>
    <%= vspace %>
    The intention behind this is to help understand the "JAMS" concept and give a base to the next session ("Alpha Collaboration Session")
    <%= vspace 20 %>
    To read more about this session go to http://jammm.in/sessions/alpha_rhythm . 
    We have also uploaded a video on "How to publish a jam" which can be found at 
    http://jammm.in/videos/how_to_publish_a_jam or http://vimeo.com/11502762 .
    
    <%= vspace 20 %>
    For any queries email us at support@jammm.in or speak to us through the "online chat" feature.
    <%= vspace 20 %>
    
    We would like to thank all of the artists who have been patient through the beginning phase of jammm.in. You all gave jammm.in good start and helped us 
    understand what needs to be done next.
    <%= vspace 20 %>
    Regards,<br>
    jammm.in team<br>
    support@jammm.in<br>
  </div>    
  
</div>
