<% 
  bug = Bug.find(bug_id) 
  url = "http://jammm.in/bug/#{bug.id}"
%>

<b>Bug #<%= bug.id %></b>
<br><br>

<b>Subject</b>: <%= bug.subject %><br><br>
<b>Description</b>:<br>
<%= bug.description.message %>
<%= vspace 20 %>

<% if bug.messages.size > 1
  messages = bug.messages
  messages.shift %>
  <b>Comments</b>:<br>
  <div style='padding-left: 20px'>
    <% messages.each do |message| %>
    <div><%= message.message %></div>
    <%= vspace %>
    <% end %>
  </div>
<% end %>

<%= vspace 20 %>
<b>Link</b>: <a href='<%= url %>'><%= url %></a>
