<% password = param?(:password) %>
<% username = param?(:username) %>

<% styles = email_styles %>

<div style="<%= styles[:layout] %>">
  <div style="<%= styles[:main_heading] %>;">JAMMMIN PASSWORD RESET</div>
  <%= vspace 20 %>
  As per your request for a password reset, your account details are: <%= vspace 10 %>
  username: <%= username %><br>
  temporary password: <span style='font-weight: bold'><%= password %></span>
  <%= vspace 20 %>
  
  Please reset your password as soon as you login.
  <%= vspace 20 %>
  
  Regards,<br>
  jamMm.in support<br>
  support@jammm.in<br>
  http://www.jammm.in<br>
  
</div>