<% 
  user = User.find(user_id) 
  update = user.get_sorted_update
  update_numbers = {}
  update.each do |k,v|
    update_numbers[k] = v.size
  end
  
  styles = email_styles
%>

<div style="<%= styles[:layout] %>">
  <div style="<%= styles[:main_heading] %>;">JAMMMIN UPDATE</div>
  <%= vspace 20 %>

  <% unless update[:messages].empty? %>  
    <div style="<%= styles[:section_heading] %>;">MESSAGES</div>
    <div style="<%= styles[:section_content] %>;">
      <% update[:messages].each { |notification| 
        message = notification.data.message
      %>
       <div style='overflow: auto; display: block'>
         <span><%= message.user.username %>: </span>
         <span><%= message.body %></span>
       </div>
      <%  } %>
    </div>
    <%= vspace 20 %>
  <% end %>

  <% unless update[:song_messages].empty? %>
    <div style="<%= styles[:section_heading] %>">SONG MESSAGES</div>
    <div style="<%= styles[:section_content] %>;">
      <% update[:song_messages].each { |notification| 
        song_message = notification.data.song_message
      %>
       <div style='overflow: auto; display: block'>
         <div>Song: <%= song_message.song.name %>. </div>
         <div style='margin-left: 20px;'>
           <span><%= song_message.user.username %>: </span>
           <span><%= song_message.message %></span>
         </div>
       </div>
       <%= vspace %>
      <%  } %>
    </div>
    <%= vspace 20 %>  
  <% end %>

  <% unless update[:badges].empty? %>
    <div style="<%= styles[:section_heading] %>">BADGES</div>
    <div style="<%= styles[:section_content] %>;">  
      <% update[:badges].each do |notification| %>
        You have earned the "<%= notification.data.badge.name %>" badge
      <% end %>
    </div>
    <%= vspace 20 %>
  <% end %>
  
  <% unless update[:followers].empty? %>
    <div style="<%= styles[:section_heading] %>">FOLLOWERS</div>
    <div style="<%= styles[:section_content] %>;">  
      You are being followed by <%= update[:followers].map{|n| n.data.follower.followed_by.username}.join(", ") %>
    </div>
    <%= vspace 20 %>
  <% end %>

  <% unless update[:say_mentions].empty? %>
    <div style="<%= styles[:section_heading] %>">MENTIONS</div>
    <div style="<%= styles[:section_content] %>;">  
      <% update[:say_mentions].each do |mention| %>
        <div style='position: relative; margin-bottom: 5px'>
          <div><%= mention.data.say.user.username %>: </div>
          <div style='position: relative; margin-left: 20px'><%= mention.data.say.message %></div>
        </div>
      <% end %>
    </div>
    <%= vspace 20 %>
  <% end %>

  To view all your notification <a href="http://jammm.in/account/notifications">click here</a>
  <%= vspace 20 %>


  Regards,<br>
  jamMm.in team<br>
  support@jammm.in<br>
  http://jammm.in
    
</div>


