<% 
  user = User.find(user_id) 
  update = user.get_sorted_update
  update_numbers = {}
  update.each do |k,v|
    update_numbers[k] = v.size
  end
  
  styles = email_styles
%>

<%= update.inspect %>

<div style="<%= styles[:layout] %>">
  <div style="<%= styles[:main_heading] %>;">JAMMMIN UPDATE</div>
  <%= vspace 20 %>
  
  <div style="<%= styles[:section_heading] %>;">MESSAGES</div>
  <div style="<%= styles[:section_content] %>;">
    <% update[:messages].each { |notification| 
      message = notification.data.message
    %>
     <div style='overflow: auto; display: block'>
       <span><%= message.user.username %>: </span>
       <span><%= message.body %></span>
     </div>
    <%  } %>
  </div>
  <%= vspace 20 %>

  <div style="<%= styles[:section_heading] %>">SONG MESSAGES</div>
  <%= vspace 20 %>  

  <div style="<%= styles[:section_heading] %>">INVITES</div>
  <%= vspace 20 %>
  
  <div style="<%= styles[:section_heading] %>">BADGES</div>
  <%= vspace 20 %>
  
  <div style="<%= styles[:section_heading] %>">FOLLOWERS</div>
  <%= vspace 20 %>
  
</div>

<!-- NEW FORMAT ENDS HERE -->

<div style='padding: 10px'>
  <h4>
    <img src="http://jammm.in/images/icons/favicon.png" height='16px' style='float: left; padding-right: 10px'>
    jamMm.in update
  </h4>

  You have <%= user.unread_notifications.size %> new updates
  <br><br>
  <% update_numbers.each do |k,v| %>
    <div>
      <% 
        next if v < 1 
        key = k.to_s.split("_").map{|t| t.capitalize}.join(" ")
      %>
      
      <div style="float: left; width: 100px; "><%= key %>:</div> <%= v %>
    </div>
  <% end %>
  
<%= vspace 20 %> 
Click here to view the notifications <br><br>

<% url = "http://jammm.in/account/notifications" %>
<a href="<%= url %>"><%= url %></a>

</div>
</body>
</html>
