  <html>
<body>
<%= partial("body/includes") %>
<% 
  user = User.find(user_id) 
  update = user.get_sorted_update
  update_numbers = {}
  update.each do |k,v|
    update_numbers[k] = v.size
  end
%>

<div style='padding: 10px'>
  <h4>
    <img src="http://jammm.in/images/icons/favicon.png" height='16px' style='float: left; padding-right: 10px'>
    jamMm.in update
  </h4>

  You have <%= user.unread_notifications.size %> new updates
  <br><br>
  <% update_numbers.each do |k,v| %>
    <div>
      <% 
        next if v < 1 
        key = k.to_s.split("_").map{|t| t.capitalize}.join(" ")
      %>
      
      <div style="float: left; width: 100px; "><%= key %>:</div> <%= v %>
    </div>
  <% end %>
  
<%= vspace 20 %> 
Click here to view the notifications <br><br>

<% url = "http://jammm.in/account/notifications" %>
<a href="<%= url %>"><%= url %></a>

</div>
</body>
</html>
