<% users = ChatUser.users.sort_by(&:username) %>
<div class='text grey'>
  <%= users.size %> users online.
</div>
<%= vspace 10 %>
<%= partial("common/users", :locals => {:users => users, :cols => 1}) %>

<%= js_start %>
  window.setTimeout(chatStartUsersRefresh, 300)
<%= js_end %>
