<%= section_header 'New Bug' %>
<form id='form-bug-create' action='/bug/create' method='post' onsubmit="createBug(); return false">
  <div class='text'>
    We regret that you did need to come to this page, but we are also happy that you are ready to :)<br>
    Feel free to mention anything. 
  </div>
  <%= vspace 20 %>
  <%= field 'Subject' %> <input type='text' name='subject' id='bug-subject'>
  <%= vspace %>
  
  <%= field 'Description' %>
  <textarea name='description' rows=8></textarea>
  <%= vspace %>
  <br>
  <input type='submit' value='Create'>
</form>
<%= vspace 20 %>
<i class='text'>
  Note (if you are not logged in): This bug will be filled as an anonymous bug. You may leave your name and/or email in the description if you like.
</i>
<%= vspace %>
<div id='form-response'></div>

<%= js_start %>
  function createBug(){
    var onSuccess = function(){loadUrl('/bug/view/open');}
    showLoadingMessage('form-response', 'Please wait while the bug is being forwarded...');
    var form = $('form-bug-create');
    form.request({
      onSuccess: onSuccess,
      onFailure: loadResponseFn('form-response')
    });
  }
  
	setSelectedMenuItem('menu-item-new-bug');
<%= js_end %>
