<div class='header'>Forgot Password</div>
<%= vspace 10 %>
Enter the email address your account was registered with. A new temporary password will be sent to you.
<%= vspace 10 %>
<%= field 'Email:' %>
<input type='text' name='forgot-email'>
<%= vspace 10 %>
<div class="button float-right" onclick='General.User.forgotPassword.submit()'>
  <div class="icon"><%= icon "/images/16.png", 8, 16, true %></div>
  <div class="text">Submit</div>
</div>
<div class="clear-both"></div>
<%= vspace %>
<div class="forgot-email-response"></div>