<div class='header'>Login</div>
  <div style='padding: 5px'>
    <form action="/signin/process" method='post' onsubmit='General.login(); return false'>
    
      <div class="small-field">Username:</div><%= vspace %>
      <input type='text' name='username'> <%= vspace 10 %>
      <div class="small-field">Password</div><%= vspace %>
      <input type='password' name='password'>
      <%= vspace 20 %>
      
      <div class="button" style='width: 70px'>
        <div class="icon"><img src='/new-ui/collaborate.png' height='16px'></div>
        <div class="text">Login</div>
      </div>
      
      <input type='submit' style='visibility: hidden'>
      <div class="s11 error-response"></div>
    </form>
  </div>
</div>

<%= js_start %>
  $j("[name=username]").focus();
<%= js_end %>