<div class='header' onclick='Doc.Player.collapse()'>
  Login
  <div class="minimize">-</div>
</div>
  <div style='padding: 5px'>
    <form action="/signin/process" method='post' onsubmit='General.login(); return false'>
    
      <div class="small-field">Username:</div><%= vspace %>
      <input type='text' name='username'> <%= vspace 10 %>
      <div class="small-field">Password</div><%= vspace %>
      <input type='password' name='password'>
      <%= vspace 20 %>
      
      <div style='height: 35px'>
        <div class="button" style='width: 70px; position: absolute; right: 47px'>
          <div class="icon"><img src='/new-ui/collaborate.png' height='16px'></div>
          <div class="text">Login</div>
        </div>
      </div>
      <div class="clear-both"></div>
      <%= vspace 5 %>
      
      <div class='s11 red clickable' style='text-align: right; margin-right: 47px' onclick='General.User.forgotPassword()'>Forgot Password</div>
      <%= vspace 10 %>
      <div class="s11 error-response" style='margin-right: 47px'></div>
      <input type='submit' style='visibility: hidden;'>
    </form>
  </div>
</div>

<%= js_start %>
  $j("[name=username]").focus();
<%= js_end %>