<%= section_header 'Sign in' %>
<form action='/signin/process' method='post'>
<%= field 'Username' %><input type='text' name='username'><%= vspace %>
<%= field 'Password' %><input type='password' name='password'></td><%= vspace %>
<input type='submit' value='Sign In'></td>
</form>

<%= js_start %>
	setSelectedMenuItem('menu-item-signin')
<%= js_end %>
