
<div class='context-menu'>

  <div class='item container highlight' onclick='Jam.create()' >
      <div class='icon'><%= icon "/images/24.png", 3, 24, true %></div>
      <div class='text'>Create Jam
        <%= vspace 5 %>
        <div class="s11">upload your audio files</div>
      </div>
  </div>
  <%= vspace 10 %>

  <div class='item container highlight' onclick='Navigate.loadContent("/account")'  >
      <div class='icon'><%= icon "/images/24.png", 9, 24, true %></div>
      <div class='text'>My Home</div>
  </div>
  
  <% unless session_user?.groups.empty? %>
    <% group = session_user?.groups.first %>
    <div class='item container highlight' onclick='Navigate.loadContent("/groups/<%= group.handle %>")'  >
        <div class='icon'><%= icon "/images/24.png", 9, 24, true %></div>
        <div class='text'>My School
          <%= vspace 5 %>
          <div class="s11"><%= group.name %></div>
        </div>
    </div>
  <% end %>

  <div class='item'>
    <div class='container'>
      <div class='icon'><%= icon "/images/24.png", 0, 24, true %></div>
      <div class='text'>My Jams</div>
    </div>
    <div class='item sub container highlight' onclick='Navigate.loadContent("/account/jams")'  >
      <div class='text'>Published Jams</div>
    </div>
    <div class='item sub container highlight' onclick='Navigate.loadContent("/account/unpublished_jams")' >
      <div class='text'>Unpublished Jams</div>
    </div>
  </div>

  <div class='item'>
    <div class='container'>
      <div class='icon'><%= icon "/images/24.png", 1, 24, true %></div>
      <div class='text'>My Collaborations</div>
    </div>
    <div class='item sub container highlight' onclick='Navigate.loadContent("/account/published_songs")'>
      <div class='text'>Published Collaborations</div>
    </div>
    <div class='item sub container highlight' onclick='Navigate.loadContent("/account/unpublished_songs")'>
      <div class='text'>Unpublished Collaborations</div>
    </div>
    <div class='item sub container highlight' onclick='Navigate.loadContent("/account/songs_created_by_others")'>
      <div class='text'>Created by Others</div>
    </div>
  </div>

  <div class='item' onclick='Navigate.loadContent("/account/messages")'>
    <div class='container highlight'>
      <div class='icon'><%= icon "/images/24.png", 8, 24, true %></div>
      <div class='text'>Messages</div>
    </div>
  </div>
  
  <div class='item' onclick='Navigate.loadContent("/account/aboutme")'>
    <div class='container highlight'>
      <div class='icon'><%= icon "/images/24.png", 15, 24, true %></div>
      <div class='text'>Settings</div>
    </div>
  </div>
  
</div>