<div class='account'>
  <%= partial("account/main_info", :locals => {:user => session_user?}) %>
  <br>
  <div style='max-height: 300px' class='main-info'>
    <%= partial("/help/tutorial") %>
  </div>
  <br>
  <%= partial("account/feeds", :locals => {:feeds => @session_user.feeds, :show_as_updates => false}, :section_header => SectionHeader.new('Feeds')) %>
</div>

<%= js_start %>
	setSelectedMenuItem('menu-item-home');
	
	(function(){
	  var items = $('tutorial').getElementsByClassName("section");
	  items = $A(items).shuffle();
	  items.pop();
	  items.each(function(item){$(item).remove()});
	})();
<%= js_end %>
