<%= render_state({
  :url => "/account/home", 
  :context_menu => "/partial/account/context_menu",
  :right_panel => "/partial/account/right_panel",
  :img => "/images/navigation/home.png"
}) %>

<%= vspace 10 %>
<div class="page-header">Account <span class="slash">/</span> Home</div>
<%= vspace 20 %>

<% feeds = session_user?.feeds 100 %>
<div class='feeds'>
  <% feeds.each{|feed| %>
    <%= partial :"/account/feeds/#{feed.feed_type}", :locals => {:feed => feed} %>
  <% } %>
</div>

<% if feeds.empty? %>
  <div class="info-box">
    Thank you for joining jammm.in. <%= vspace 5 %>
    <ul>
      <li>To get started click on "Create Jam" in your left menu and upload your music. </li><%= vspace %>
      <li>By following other artists you can view their updates in this page.</li> 
  </div>
<% end %>