<div>
	<div style='box-sizing: 10%' class='float-left pad-right-5'>
		<%= icon :jam %>
	</div>
	<div style='box-sizing: 90%'>
		<span class='bold'><%= jam_link(jam) %></span> -
    <%= list_artists jam.artists %><br>
		<%= play_link jam %>
		<%= manage_jam_link jam %>
	</div>
</div>