<div class='menu'>
  <%= add_menu_entry('Create Jam','/jam/create', :jam) %>
  <hr class='light'>
  <%= add_menu_entry('Create Song','/song/create', :song) %>
  <br>
  <hr class='thin'>
  <%= add_menu_entry('Home','/account', :home) %>
  <hr class='light'>
  <%= add_menu_entry('Profile','/' + @session_user.username, :profile) %>
  <hr class='light'>
  <%= add_menu_entry('Songs','/account/songs', :song) %>
  <hr class='light'>
  <%= add_menu_entry('Jams','/account/jams', :jam) %>
	<% ms = "Message Streams" %>
	<% ms += " (#{session_user?.unread_messages.size.to_s})" if not session_user?.unread_messages.empty? %>
  <hr class='light'>	
  <%= add_menu_entry(ms,'/account/message_streams', :message) %>
  <hr class='light'>
  <%= add_menu_entry('Following','/account/following', :following) %>
  <hr class='light'>
  <%= add_menu_entry('Followers','/account/followers', :followers) %>

</div>
