
<div class='menu'>
	<br>
	<a class='simple-link' href='<%= session_user?.url %>'><%= session_user?.url %></a>
	<br><br>
	<span class='bg-grey round pad10'>
		<b>Create:</b><hr class='thin' style='background-color: white'>
			<%= icon(:song, :small) %><a href='/song/create'>Song</a><br>
			<%= icon(:jam, :small) %><a href='/jam/create'>Jam</a>
	</span>
	<br><br>
	<div>
		<%= section_header 'navigate' %>
	  <%= add_menu_entry('Home','/account', :home) %>
	  <%= add_menu_entry('Profile','/' + @session_user.username, :profile) %>
	  <%= add_menu_entry('Songs','/account/songs', :song) %>
	  <%= add_menu_entry('Jams','/account/jams', :jam) %>
	  <%= add_menu_entry('Vocal Thread','/account/messages','') %>
	  <%= add_menu_entry('Following','/account/following', :following) %>
	  <%= add_menu_entry('Followers','/account/followers', :followers) %>
	
		<br>
	  <%= add_menu_entry('Help','/help', :help) %>  
	  <%= add_menu_entry('Logout','/account/logout','asdasd') %>  
	</div>
</div>
