<%= section_header('My Message Streams') %>
<% 
  only_unread ||= nil 
  unread_exists = false
  sorted_streams = session_user?.message_streams.sort_by{|ms| (ms.users - [session_user?])[0].username.downcase}
%>

<div id='message-streams'>
  <% sorted_streams.each do |message_stream| %>
		<!-- Goes to NEXT iteration if the this partial is meant to display only unread streams -->
		<% next if only_unread  and message_stream.unread_messages(session_user?).empty? %>
		<% unread_exists = true %>
    <div>
      <% with_user = message_stream.users.without(session_user?)[0] %>
      <span class='float-left display-inline pad-right-10'><%= profile_picture_thumbnail with_user %></span>
      <span>
        <a href='/account/message_stream/<%= message_stream.id %>' class='simple-link bold'><%= with_user.username %></a><br>
        <div class='text grey'>
          <%= message_stream.user_message_streams.size.to_s %> messages
  				<%= "<b>(#{message_stream.unread_messages(session_user?).size} new)</b>" if not message_stream.unread_messages(session_user?).empty? %>
  			</div>
      </span>
    </div>
    <%= vspace 10 %>
  <% end %>
</div>

<% if not unread_exists %>
  <span class='text'>You have no unread message streams</span>
<% end %>
<br><br>
