<%= vspace 20 %>

<div style='margin-left: 30px'>
  Import your tracks from soundcloud
  <%= vspace 5 %>
  <div class="button" onclick='Account.SoundCloud.importFromSoundCloud()'>
    <div class="icon"><%= icon "/images/button-images-16.png", 1, 16, true %></div>
    <div class="text">Import Tracks</div>
  </div>
</div>

<%= vspace 20 %>
<div class='tip' style='margin-left: 30px'>
  <div class="image"><%= icon "/images/24.png", 11, 24, true %></div>
  Use the scroll wheel or the trackpad to scroll through the lists
</div>

<%= vspace 20 %>

<% used_memory = session_user?.used_memory %>
<div class='position-relative'>
  <div class='position-absolute' style='margin-top: 8px'>
    <img src='/new-ui/storage.png' height='24px'>
  </div>
  <div class='position-relative' style='margin-left: 30px'>
    <div class='bold'>Your Memory Usage:</div><%= vspace %>
    Used <%= used_memory.to_mb rescue "0MB" %> of <%= session_user?.total_memory.to_mb rescue "0MB"%><%= vspace %>
    <% width =  (used_memory / session_user?.total_memory) * 100 rescue 100 %>
  </div>
  <div class='memory-usage' style='margin-left: 30px'>
    <div class='fill' style="width: <%= width %>%"></div>
  </div>
</div>

<%= vspace 20 %>

<!-- invite user -->
<div style='margin-left: 30px'>
  <span class="bold">Invite a Musician</span>
  <%= vspace %>
  You have <%= session_user?.invites_remaining %> invitation<%= session_user?.invites_remaining == 1 ? '' : 's' %> remaining.
  <%= vspace %>
  Email:<%= vspace 3 %>
  <input type='text' name='invite-email' style='width: 193px'>
  <%= vspace 5 %>
  <div class="button float-right" onclick='General.User.invite()'>
    <div class="icon"><%= icon "/images/16.png", 1, 16, true %></div>
    <div class="text">Invite</div>
  </div>
  <div class="clear-both"></div>
  <%= vspace 5 %>
  <div class="invite-response"></div>
</div>