<div class='pad1'>
  <div class='float-left' style='box-sizing: 10%; padding-right: 10px'>
    <%= song_picture song %>
  </div>
  <div class='' style='box-sizing: 80%'>
    <span class='bold'><a class='simple-link' href='/song/<%= song.id %>'><%= song.name %></a></span><br>
    <%= list_artists(song.artists) %><br>
		<span class='display-inline-block'><%= icon :play2 %></span>
		<%= manage_song_link(song) %>
  </div>
</div>