<div class='pad1'>
  <table>
    <tr>
      <td><%= song_picture song %></td>
      <td><%= icon :play2 %></td>
      <td width='100%'>
        <span class='bold'><a class='simple-link' href='/song/<%= song.id %>'><%= song.name %></a></span><br>
        <%= list_artists(song.artists) %>
      </td>
      <td><%= manage_song_link(song) %></td>
    </tr>
  </table>
</div>