<span class='profile-photo'>Profile Photo</span>
<br><br>
<%
	p_info = @menu_data[:personal_info]
	items = [
		{:name => 'Full Name', :value => p_info['name']},
		{:name => 'Location', :value => p_info['location']}
	]
	items.each do |i|
	%>
  	<%= add_profile_menu_user_info_item(i[:name], i[:value]) %>
	<%
	end
%>
<%= add_link('(View Complete Information)', 'info', {}) %>

<br><br>

<%
  items = [
    {:name => 'Update'},
    {:name => 'Songs'},
    {:name => 'Jams'},
    {:name => 'Following'},
    {:name => 'Jammmed With'},
    {:name => 'Followers'}    
  ]
  
  %>
  <div class='w60'>
    <%= section_header 'Navigate' %>
    <%
    items.each do |item| %>
      <div>
          <span class='bold grey float-left display-inline'><%= item[:name] %></span><span class='float-right display-inline'><%= add_icon '' %></span>
      </div>
<!--     <hr class='thin'>     -->
    <%
    end 
    %>
  </div>
  <%
%>

<br><br>
<%= section_header('Following') %>
<%= partial(:'common/list_artists', :locals => {:artists => @user.follows}) %>

<br><br><br>
<%= section_header('Collaborators') %>
<%= partial(:'common/list_artists', :locals => {:artists => @user.collaborators}) %>

<br><br><br>
<%= section_header('Followers') %>
<%= partial(:'common/list_artists', :locals => {:artists => @user.followed_by}) %>
