<div class='menu'>
  <div class='text-center'>
    <center>
    <%= profile_picture @user %>
    </center>
  </div>
	
	<br><br>
	<%= partial("profile/actions", :locals => {:user => @user}) if session_user? and session_user? != @user %>
	<br><br>

	<%
	  items = [
	    {:text => 'Profile', :link => "/#{@user.username}", :icon => :profile, :id => 'menu-item-profile' },
	    {:text => 'Songs', :link => "/#{@user.username}/songs", :icon => :song, :id => 'menu-item-songs'},
	    {:text => 'Jams', :link => "/#{@user.username}/jams", :icon => :jam, :id => 'menu-item-jams'},
	    {:text => 'Following', :link => "/#{@user.username}/following", :icon => :following, :id => 'menu-item-following'},
	    {:text => 'Jammmed With', :link => "/#{@user.username}/jammmed_with", :icon => :collaborators, :id => 'menu-item-collaborators'},
	    {:text => 'Followers', :link => "/#{@user.username}/followers", :icon => :followers, :id => 'menu-item-followers'}    
	  ]
  
	  %>
	  <div>
			<%= hor_line ("1px", "solid", "#cccccc") %>
			<%= partial("common/menu", :locals => {:items => items}) %>
	  </div>
	  <%
	%>

	<br><br>
	<%= section_header('Following', {:icon => :following}) %>
	<%= partial(:'common/list_artists', :locals => {:artists => @user.follows}) %>
	<br><br>

	<%= section_header('Collaborators', {:icon => :collaborators })%>
	<%= partial(:'common/list_artists', :locals => {:artists => @user.collaborators}) %>

	<br><br>
	<%= section_header('Followers', {:icon => :followers}) %>
	<%= partial(:'common/list_artists', :locals => {:artists => @user.followed_by}) %>
</div>
