<span class='profile-photo'>Profile Photo</span>
<br><br>
<%
	p_info = @menu_data[:personal_info]
	items = [
		{:name => 'Full Name', :value => p_info['name']},
		{:name => 'Location', :value => p_info['location']}
	]
	items.each do |i|
	%>
  	<%= add_profile_menu_user_info_item(i[:name], i[:value]) %>
	<%
	end
%>
<%= add_link('(View Complete Information)', 'info', {}) %>

<br><br>

<%
  items = [
    {:name => 'Update', :link => ""},
    {:name => 'Songs', :link => "/#{@user.username}/songs"},
    {:name => 'Jams', :link => "/#{@user.username}/jams"},
    {:name => 'Following', :link => "/#{@user.username}/following"},
    {:name => 'Jammmed With', :link => "/#{@user.username}/jammmed_with"},
    {:name => 'Followers', :link => "/#{@user.username}/followers"}    
  ]
  
  %>
  <div class='w60'>
    <%= section_header 'Navigate' %>
    <%
    items.each do |item| %>
      <div>
					<a href='#'>
          	<span class='bold grey float-left display-inline simple-link' onclick="window.location='<%= item[:link] %>'">
							<%= item[:name] %></span><span class='float-right display-inline'><%= add_icon '' %>
						</span>
					</a>
      </div>
<!--     <hr class='thin'>     -->
    <%
    end 
    %>
  </div>
  <%
%>

<br><br>
<%= section_header('Following') %>
<%= partial(:'common/list_artists', :locals => {:artists => @user.follows}) %>
<br><br>

<%= section_header('Collaborators') %>
<%= partial(:'common/list_artists', :locals => {:artists => @user.collaborators}) %>

<br><br>
<%= section_header('Followers') %>
<%= partial(:'common/list_artists', :locals => {:artists => @user.followed_by}) %>
