<div class='menu'>
	<span class='profile-photo'></span>
	<br><br>
	<%
		p_info = @menu_data[:personal_info]
		items = [
			{:name => 'Full Name', :value => p_info['name']},
			{:name => 'Location', :value => p_info['location']}
		]
		items.each do |i|
		%>
	  	<%= add_profile_menu_user_info_item(i[:name], i[:value]) %>
		<%
		end
	%>
	<br><br>
	<%= partial("profile/actions", :locals => {:user => @user}) %>
	<br><br>

	<%
	  items = [
	    {:name => 'Update', :link => ""},
	    {:name => 'Songs', :link => "/#{@user.username}/songs", :icon => :song},
	    {:name => 'Jams', :link => "/#{@user.username}/jams", :icon => :jam},
	    {:name => 'Following', :link => "/#{@user.username}/following"},
	    {:name => 'Jammmed With', :link => "/#{@user.username}/jammmed_with"},
	    {:name => 'Followers', :link => "/#{@user.username}/followers"}    
	  ]
  
	  %>
	  <div>
	    <%= section_header 'Navigate' %>
	    <% items.each do |item| %>
				<%= add_menu_entry(item[:name], item[:link], item[:icon] ? item[:icon] : "") %>
	    <% end %>
	  </div>
	  <%
	%>

	<br><br>
	<%= section_header('Following') %>
	<%= partial(:'common/list_artists', :locals => {:artists => @user.follows}) %>
	<br><br>

	<%= section_header('Collaborators') %>
	<%= partial(:'common/list_artists', :locals => {:artists => @user.collaborators}) %>

	<br><br>
	<%= section_header('Followers') %>
	<%= partial(:'common/list_artists', :locals => {:artists => @user.followed_by}) %>
</div>