<%= render_state({
  :name => "#{@user.username}", 
  :description => "", 
  :url => "/#{@user.username}",
  :context_menu => "/#{@user.username}/context_menu",
  :img => "#{@user.profile_picture_url}"
}) %>

<h3>Artists <span class='slash'>/</span> <%= @user.username %></h3>
<%= vspace 10 %>

<div class='user-profile'>
  <div class='profile-picture'><img src='<%= @user.profile_picture_url %>'></div>
  <div class='content'>
    <div class='username'><%= @user.username %></div> <div class="name">- <%= @user.name %></div>
    <div class="clear-both"></div>
    <%= vspace %>
    <div class="location"><%= @user.location %></div> <%= vspace 10 %>
    <div class="s11">
      <span class='gray'>Follows:</span> <%= @user.following.count %> <%= vspace %>
      <span class='gray'>Followers:</span> <%= @user.followed_by.count %> <%= vspace %>
      <span class='gray'>Jams:</span> <%= @user.jam_count %><%= vspace %>
      <span class='gray'>Collaborations:</span> <%= @user.published_songs.count %> <%= vspace %>
    </div>
  </div>
</div>



<%= vspace 20 %>

<% 
  id = rand_id 
  contentdivid = id + "-content"
%>
<div class='tabs' id='<%= id %>' contentdivid='<%= contentdivid %>'>
  <div class='padding-left'>&nbsp;</div>
  <div class='tab' url='/<%= @user.username %>/feeds'>
    <div class='content'><div class='image'><%= icon "/images/16.png", 17, 16, true %></div><div class='text'>Updates</div></div>
  </div>
  <div class='tab' url='/<%= @user.username %>/songs'>
    <div class='content'><div class='image'><%= icon "/images/16.png", 1, 16, true %></div><div class='text'>Collaborations</div></div>
  </div>
  <div class='tab' url='/<%= @user.username %>/jams'>
    <div class='content'><div class='image'><%= icon "/images/16.png", 0, 16, true %></div><div class='text'>Jams</div></div>
  </div>
  <div class='tab' url='/<%= @user.username %>/following'>
    <div class='content'><div class='image'><%= icon "/images/16.png", 18, 16, true %></div><div class='text'>Following</div></div>
  </div>
  <div class='tab' url='/<%= @user.username %>/followers'>
    <div class='content'><div class='image'><%= icon "/images/16.png", 19, 16, true %></div><div class='text'>Followers</div></div>
  </div>
  <div class='padding-right'>&nbsp;</div>
</div>

<div class='clear-both'>

<%= vspace 10 %>

<div id='<%= contentdivid %>' style='font-size: 11px'></div>
<%= js_start %>
  General.Tabs.setup('<%= id %>');
<%= js_end %>