<div class='profile-main'>
  <%= partial("profile/main_info", :locals => {:user => @user}) %>
	<%= vspace %>	<%= vspace %>	<%= vspace %>
  <%= partial("common/feeds", :locals => {:feeds => @user.updates, :show_as_updates => true}, :section_header => SectionHeader.new('Updates', :update)) %>
  <br>
</div>

<%= js_start %>
	GLOBAL.selectedMenuItem = 'menu-item-profile';
<%= js_end %>