<% 
	form_id = "comment-#{rand.to_s}" 
	comments_div_id ||= nil
	managers ||= []
%>

<div class='comments'>
  <% comments.each do |comment| %>
  	<%= partial('common/comment', {:locals => {:comment => comment, :form_id => form_id, :comments_div_id => comments_div_id, :managers => managers}}) %>
  <% end %>
</div>

<form id='<%= form_id %>' method='post' action='/comments/add'>
	<input type='hidden' name='for_type' value="<%= for_type %>">
	<input type='hidden' name='for_type_id' value="<%= for_type_id %>">
	<textarea id='jam-comment-textarea' style='width: 300px' name='comment' <%= "disabled" if not session_user? %>></textarea><br><br>

	<div class="button" onclick="General.Comment.add()">
	  <div class="icon"><%= icon "/images/16.png", 6, 16, true %></div>
    <div class="text">Comment</div>
	</div>
</form>
	
