<div class='w100 pad1'>
  <div class='left-float'>
    <span class='bold float-left'><a href='/jam/<%= jam.id %>'><%= jam.name %></a>&nbsp;</span><span class='float-left'>[length]</span><br>
    <%= add_field_name 'Jammmed by' %> <%= partial(:'common/list_artists', :locals => {:artists => jam.artists}) %><br>
    <%= icon :like %> <%= icon :comments %>
  </div>
  <span class='float-right'> <%= add_music_link jam %> <%= icon :play2 %></span>
</div>

