<div class='row' onclick="Navigate.loadContent('/jam/<%= jam.id %>')">
  <div class='forward-icon'><img src='/new-ui/forward-arrow.png'></div>
  <div class='image'>
    <img src='<%= ["/new-ui/acoustic-guitar.png", "/new-ui/saxophone.png"].shuffle.pop %>' width='54px' height='54px'>
  </div>
  <div class='content'>
    <div class='col1'>
      <div class='name'><%= jam.name %></div>
      <div class='artist'><%= jam.creator.name %></div>
    </div>
    <div class='col2'>
    <div class='field w50 s11'>Views:</div><%= jam.views %> <%= vspace %>
    <div class='field w50 s11'>Likes:</div><%= jam.liked_by.count %><%= vspace %>
    <div class='field w50 s11'>Length:</div><%= jam.file_data.length.to_time_str rescue "-" %>
    </div>
    <div class='col3'>
      <%= jam.comments[0].comment unless jam.comments.empty? %>
    </div>
  </div>
</div>