<% 
	main_instruments_div_id = rand_id 
	instruments_select_div_id = rand_id
%>
<div id='<%= main_instruments_div_id %>'>
	<% 
		contains_instruments = ContainsInstrument.find_all_by_for_type_and_for_type_id(for_type, for_type_id)
		instruments = contains_instruments.map(&:instrument) 
	%>

	<div class='display-inline-block pad-right-5'>
		<select id='<%= instruments_select_div_id %>'>
			<% (Instrument.all - instruments).each do |instrument| %>
				<option value="<%= instrument.id %>"><%= instrument.name %>
			<% end %>
		</select>	
		<input type='button' value='Add' onclick="add_instrument('<%= instruments_select_div_id %>', '<%= main_instruments_div_id %>', '<%= for_type %>', '<%= for_type_id %>')">
		<% if not contains_instruments.empty? %>
  		<hr class='thin'>
  	<% end %>
	
		<% contains_instruments.each do |contains_instrument| %>
			<% instrument = contains_instrument.instrument %>
			<div class='box display-inline-block'>
				<div class='text'><%= instrument.name %></div>
				<div class='action' onClick="remove_instrument('<%= contains_instrument.id %>', '<%= main_instruments_div_id %>', '<%= for_type %>', '<%= for_type_id %>')">x</div>
			</div>
		<% end %>
	</div>
</div>
