<div class='menu-items' style='cursor: pointer !important'>
	<% 
		items.size.times do |i|
			item = items[i]
	%>
		<a href="<%= item[:link] %>">
			<div class='menu-item' id='<%= item[:id] || rand_id %>'>
				<%= vspace %>
					<div class='icon'><%= icon item[:icon] %></div>
					<div class='text'><%= item[:text] %></div>
				<%= vspace %>
			</div>
		</a>
		<%= hor_line("1px", "solid", "#eee9e9") if i < (items.size - 1) %>
	<% end %>
</div>