<%= render_state({
  :url => "/account/message_stream/#{message_stream.id}", 
  :context_menu => "/partial/account/context_menu",
  :img => "/images/navigation/message-stream.png",
  :right_panel => false
}) %>


<% 
	user1, user2 = message_stream ? [message_stream.users[0], message_stream.users[1]] : [session_user?, @user] 
%>

<%= vspace 10 %>
<%= page_header ["Account", "Messages", user1.username] %>
<%= vspace 20 %>


<div class='user-messages'>
  <% message_stream.messages.each do |message| %>
		<%= partial ("common/message", :locals => {:message => message}) %>
		<br>
	<% end %>
</div>
<%= vspace 10 %>

<textarea style='height: 100px; width: 300px' name="post-message-text-area"></textarea>
<%= vspace 10 %>

<div class="button" onclick='General.User.postViaMessageStream(<%= user1.id %>, <%= user2.id %>)'>
  <div class="icon"><%= icon "/images/16.png", 6, 16, true %></div>
  <div class="text">Post</div>
</div>

<% message_stream.mark_as_read session_user? %>

<%= js_start %>
  Layout.ContentPanel.scrollToBottom(function(){$j("[name=post-message-text-area]").focus()});
<%= js_end %>