<% 
	user1, user2 = message_stream ? [message_stream.users[0], message_stream.users[1]] : [session_user?, @user] 
%>

<%= vspace 10 %>
<%= page_header ["Account", "Messages", user1.username] %>
<%= vspace 20 %>


<div class='user-messages'>
  <% message_stream.messages.each do |message| %>
		<%= partial ("common/message", :locals => {:message => message}) %>
		<br>
	<% end %>
</div>
<%= vspace 10 %>

<form action='/message_stream/new_post' method='post' onsubmit='return false'>
  <input type='hidden' name='user_ids' value='<%= "#{user1.id},#{user2.id}" %>'>
  <textarea name='body'></textarea>
  <%= vspace 10 %>
  <input type='submit' value='Post' onclick="addMessage('')">
</form>