<div class='position-relative'>
  <div style='position: absolute; left: 0px'>
    <%= icon :school1 %>
  </div>
  <div style='position: relative; margin-left: 24px'>
    <a href="/schools/<%= school.handle %>" title="<%= school.name %>" class='simple-link'><%= school.name %></a>
    <% if show_admin_links and school.admins.include?(session_user?) %>
      (<a class='simple-link' href='/schools/<%= school.handle %>/admin'>admin</a>)
    <% end %>
  </div>
</div>