<%
	img ||= (icon(sh.img, :small) if sh.img rescue false)
	text ||= sh.text
%>
<div class="section-header">
	<% if img %>
	  <span class='display-inline-block float-left pad-right-5'><%= img %>&nbsp;</span>
	<% end %>
  <div style="padding-right: 5px;" class='text bold float-left'><%= text %></div>
	<% if options[:collapsible] %>
		<% switch_id = rand_id %>
		<span id='<%= switch_id %>' class='float-right grey clickable' style='font-size: 11px' onClick="toogleSectionExpand('<%= options[:collapsible] %>', '<%= switch_id %>')">hide</span>
	<% end %>
</div>	
<hr class='light'>
<%= vspace %>

<% if options[:collapsed] %>
	<%= js_start %>
		(function(){
			var tt = function(){hideSection('<%= options[:collapsible] %>', '<%= switch_id %>')};
			window.setTimeout(tt, 1000);
		})();
	<%= js_end %>
<% end %>
