<div>
  <span class='left-float'><%= add_icon 'song' %></span>
  <span class='float-right display-inline'>Add, Play, Maximize, Song Page</span>
  <div class='width100'>
    <span class='bold display-inline'><%= song.name %></span>
    [length]<br>
    <%= add_field_name 'Collaborators' %> <%= partial(:'common/list_artists', :locals => {:artists => song.artists}) %><br>
    <%= add_field_name 'Likes' %> <br>
  </div>
</div>

