<div class='position-relative' <%= blanket_events %> style='min-height: 70px'>
  <div class='position-absolute left-0 display-inline-block'><%= song_picture song %></div>
  <div class='position-absolute' style='left: 68px; width: 20px'>
      <%= play song %>
  </div>
  <div class='position-relative' style='margin-left: 90px'>
    <span class='bold simple-link'><%= song_link song %></span>
    <%= vspace %>
    <div class='text'>
      <%= list_artists song.artists %>
      <% if not song.genres.empty? %>
        <div class='grey'><%= list_genres song.genres %></div>
      <% end %>
      <div class='hidden'> <%= download song %> <%= add_music_link song %></div>        
    </div>
  </div>
</div>
<br class='clear'>
