<% show_actions ||= nil %>

<div class='w100'>
	<div class='float-left' style='width: 32px'>
    <%= profile_picture_thumbnail user %>
	</div>
	<div class='float-left'%>
		<a class='bold simple-link' href='/<%= user.username %>'><%= user.username %></a>, <%= user.location %><br>
		<table>
			<tr>
				<td>		
					<a class='simple-link' title='songs' href='/<%= user.username %>/songs'><%= icon :song %></a>
				</td>
				<td>
				 	<%= user.songs.size %>
				</td>
				<td>
					<a class='simple-link' title='jams' href='/<%= user.username %>/jams'><%= icon :jam %></a>
				</td>
				<td>
					<%= user.jams.size %>
				</td>
			</tr>
		</table>	
	</div>
</div>
