<% show_actions ||= nil %>

<div class='position-relative' style='min-height: 32px; margin-bottom: 10px'>
	<div class='position-absolute' style='width: 32px'>
    <%= profile_picture_thumbnail user %>
	</div>
	<div class='position-relative' style='margin-left: 64px'>
		<div style='text-overflow:ellipsis; overflow:hidden; white-space:nowrap; font-weight: bold'><%= user.username %></div>
		<%= vspace 10 %>
		<div>
      <%= user.displayable_jams.size %> Jams, <%= user.published_songs.size %> Collaborations
    </div>
  </div>
</div>
