<div class="user highlight-row" onclick='Navigate.loadContent("/<%= user.username %>")'>
  <div class="profile-picture"><img src='<%= user.profile_picture_url %>'></div>
  <div class='actions' style='margin-right: 5px; margin-top: 15px'>
    <img src='/new-ui/forward-arrow.png'>
  </div>
  <div class="content">
    <div class="col1">
      <div class="bold"><%= user.username %></div><%= vspace 15 %>
      <div class="s11"><%= user.name %> </div>
    </div>
    <div class="col2 s11">
      <div class="simple-field w100">Jams:</div><%= user.jams.count %> <%= vspace 13 %>
      <div class="simple-field w100">Collaboration:</div><%= user.songs.count %> 
    </div>
    <div class="col3 s11">
      <div class="simple-field w100">Followers:</div><%= user.followed_by.count %> <%= vspace 13 %>
      <div class="simple-field w100">Following:</div><%= user.following.count %> 
    </div>
  </div>
</div>