<div class='main-info'>
  <div>
    <div class='align-middle display-inline-block'><%= icon :jam %></div>
    <div class='music-title'><b><%= jam.name %></b></div>
    <span class='align-middle text'> - <%= profile_link(jam.creator) %> </span>
  </div>
  <%= vspace %><%= vspace %>
	<div class='pad-left-10'>
		<div>
  	  <div class='field float-left'>Artists</div>
  	  <div class='value float-right'><%= partial(:'common/list_artists', {:locals => {:artists => jam.artists}}) %></div>
  	</div>
  	<%= hor_line("1px", "dotted", "#999999", "5px 0px 5px 0px") %>

    <%= main_info_row("Creator", jam.creator.username) %>
  	<%= hor_line("1px", "dotted", "#999999", "5px 0px 5px 0px") %>

		<div>
  	  <div class='field float-left'>Views</div>
  	  <div class='value float-right'><%= jam.views %></div>
  	</div>
  	<%= hor_line("1px", "dotted", "#999999", "5px 0px 5px 0px") %>

		<div>
  	  <div class='field float-left'>Genres</div>
  	  <div class='value float-right'><%= list_genres(jam.genres) %></div>
  	</div>
  	<%= hor_line("1px", "dotted", "#999999", "5px 0px 5px 0px") %>
  	
  	<div>
  	  <div class='field float-left'>Type</div>
  	  <div class='value float-right'>
    	  <%= display_jam_type(jam) %>
    	  <%= "(#{song_link(jam.song)})" if jam.song %>
  	  </div>
  	</div>
  	<%= main_info_hor_line %>
   	<%= main_info_row("Tags", list_tags(jam.tags)) %>
    <%= main_info_hor_line %>
    <%= main_info_row('Policy', Jam.policy_info(jam.policy)[:desc]) %>
	</div>
</div>
<br>

<%= partial("jam/actions", :locals => {:jam => jam}) %>