<div class='main-info'>
  <div>
    <div class='align-middle display-inline-block'><%= icon :jam %></div>
    <div class='align-middle field display-inline-block' style='vertical-align: top; font-size: 13px; letter-spacing: 1px'><b><%= jam.name %></b></div>
    <span class='align-middle'> - <%= profile_link(jam.creator) %> </span>
  </div>
  <%= vspace %><%= vspace %>
	<div class='pad-left-10'>
  	<div>
  	  <div class='field float-left'>Description</div>
  	  <div class='value float-right'><%= jam.description || "-" %></div>
  	</div>
  	<%= hor_line("1px", "dotted", "#999999", "5px 0px 5px 0px") %>

		<div>
  	  <div class='field float-left'>Artists</div>
  	  <div class='value float-right'><%= partial(:'common/list_artists', {:locals => {:artists => jam.artists}}) %></div>
  	</div>
  	<%= hor_line("1px", "dotted", "#999999", "5px 0px 5px 0px") %>

		<div>
  	  <div class='field float-left'>Creator</div>
  	  <div class='value float-right'><%= jam.creator.name %></div>
  	</div>
  	<%= hor_line("1px", "dotted", "#999999", "5px 0px 5px 0px") %>

		<div>
  	  <div class='field float-left'>Views</div>
  	  <div class='value float-right'><%= jam.views %></div>
  	</div>
  	<%= hor_line("1px", "dotted", "#999999", "5px 0px 5px 0px") %>

		<div>
  	  <div class='field float-left'>Genres</div>
  	  <div class='value float-right'><%= list_genres(jam.genres) %></div>
  	</div>
  	<%= hor_line("1px", "dotted", "#999999", "5px 0px 5px 0px") %>
  	
  	<div>
  	  <div class='field float-left'>Type</div>
  	  <div class='value float-right'><%= display_jam_type(jam) %></div>
  	</div>

	</div>
</div>
<br>
<a class='simple-link float-left' href="javascript:play('<%= jam.file_handle %>')"> <%= icon :play2 %></a>
<% if @session_user and not @session_user.likes_jam?(jam) %>
	<span class='simple-link display-inline float-left' onClick='likeJam("<%= jam.id %>")' title='Like'><%= icon :like %></span>
<% elsif @session_user %>
	<span class='simple-link display-inline' onClick='unlikeJam("<%= jam.id %>")' title='Unlike'><%= icon :unlike %></span>
<% end %>
<span class='float-right'><%= manage_jam_link(jam) %></span>