<div class='music-desc round'>
  <%= field 'Description:' %> <%= jam.description || "-" %><br>
  <%= field 'Artists:' %> <%= partial(:'common/list_artists', {:locals => {:artists => jam.artists}}) %><br>
  <%= field 'Creator:' %> <%= jam.creator.name %><br>
  <%= field 'Views:' %> <%= jam.views %><br>
	<%= field 'Type:' %> <%= display_jam_type(jam) %><br>
	<%= field 'Likes:' %> <%= jam.liked_by.size %><br>
	<br>
	<% if @session_user and not @session_user.likes_jam?(jam) %>
  	<span class='simple-link display-inline' onClick='likeJam("<%= jam.id %>")' title='Like'><%= icon :like %></span>
	<% elsif @session_user %>
		<span class='simple-link display-inline' onClick='unlikeJam("<%= jam.id %>")' title='Unlike'><%= icon :unlike %></span>
	<% end %>
	<a class='simple-link' href="javascript:play('<%= jam.file_handle %>')"> <%= icon :play %></a>
</div>
