<div class='context-menu'>

  <div class='item' onclick='Navigate.loadContent("/jam/<%= @jam.id %>/manage")'>
      <div class='icon'><img src='/new-ui/settings.png' width='24px' class='context-menu-image'></div>
      <div class='text'>Manage</div>
  </div>

  <div class='item' onclick='Song.create("jam", <%= @jam.id %>)'>
      <div class='icon'><img src='/new-ui/add.png' width='24px' class='context-menu-image'></div>
      <div class='text'>Collaborate</div>
  </div>
  
  <div class='item' onclick='Song.create("jam", <%= @jam.id %>)'>
    <div class='container'>
      <div class='icon'><img src='/new-ui/add.png' width='24px' class='context-menu-image'></div>
      <div class='text'><%= @jam.name %></div>
    </div>
    <div class='item sub container' onclick='Navigate.loadContent("/jam/<%= @jam.id %>/manage")'>
      <div class='text'>Download</div>
    </div>

    <div class='item sub container' onclick='Navigate.loadContent("/jam/<%= @jam.id %>/manage")'>
      <div class='text'>Like</div>
    </div>

    <div class='item sub container' onclick='Navigate.loadContent("/jam/<%= @jam.id %>/manage")'>
      <div class='text'>Comment</div>
    </div>
  </div>
  
</div>