<div class='context-menu'>

  <div class='item container' onclick='Navigate.loadContent("/jam/<%= @jam.id %>/manage")'>
      <div class='icon'><img src='/new-ui/manage1.png' width='24px' class='context-menu-image'></div>
      <div class='text'>Manage</div>
  </div>

  <div class='item container' onclick='Song.create("jam", <%= @jam.id %>)'>
      <div class='icon'><img src='/new-ui/collaborate.png' width='24px' class='context-menu-image'></div>
      <div class='text'>Collaborate</div>
  </div>
  
  <div class='item container' onclick='Navigate.loadContent("/jam/<%= @jam.id %>/manage")'>
    <div class='icon'><img src='/new-ui/download.png' width='24px' class='context-menu-image'></div>
    <div class='text'>Download</div>
  </div>

  <div class='item container' onclick='Navigate.loadContent("/jam/<%= @jam.id %>/manage")'>
    <div class='icon'><img src='/new-ui/like.png' width='24px' class='context-menu-image'></div>
    <div class='text'>Like</div>
  </div>

  <div class='item container' onclick='Navigate.loadContent("/jam/<%= @jam.id %>/manage")'>
    <div class='icon'><img src='/new-ui/comments.png' width='24px' class='context-menu-image'></div>
    <div class='text'>Comment</div>
  </div>
  
</div>