<div class='context-menu'>

  <div class='item' onclick='Navigate.loadContent("/jam/<%= @jam.id %>/manage")'>
      <div class='icon'><img src='/new-ui/test-genre.png' width='24px' class='context-menu-image'></div>
      <div class='text'>Manage</div>
  </div>

  <div class='item' onclick='Song.create("jam", <%= @jam.id %>)'>
      <div class='icon'><img src='/new-ui/test-genre.png' width='24px' class='context-menu-image'></div>
      <div class='text'>Collaborate</div>
  </div>
  
  <div class='item' onclick='Navigate.loadContent("/jam/<%= @jam.id %>/manage")'>
      <div class='icon'><img src='/images/icons/user.png' width='24px' class='context-menu-image'></div>
      <div class='text'>Download</div>
  </div>
  
  <div class='item' onclick='Navigate.loadContent("/jam/<%= @jam.id %>/manage")'>
      <div class='icon'><img src='/images/icons/collaborate.png' width='24px' class='context-menu-image'></div>
      <div class='text'>Like</div>
  </div>
  
  <div class='item' onclick='Navigate.loadContent("/jam/<%= @jam.id %>/manage")'>
      <div class='icon'><img src='/images/icons/refresh.png' width='24px' class='context-menu-image'></div>
      <div class='text'>Comment</div>
  </div>
  
  
</div>