<html>
<head>
	<%= partial('body/includes') %>
</head>
<body>
  <%= vspace 10 %>
  <div class='simplemodal-data-iframe' style='height: 320px'>
    <form action="/jam/create/submit" method='post' enctype='multipart/form-data' >
      Choose a name, an audio file, instrument and genre. Accepted audio formats are MP3, WAV, MP4.
      <%= vspace 10 %>
      <div class='field'>Choose Audio File: *</div><input type='file' name='file' style='color: inherit'><%= vspace 10 %>
      <div class='field'>Name: *</div><input type='text' name='name'><%= vspace 10 %>
      <div class='field float-left'>Instrument: *</div>
        <select name='instrument'>
          <option value='false'>Select One</option>
          <% Instrument.all.each{|i| %>
            <option value='<%= i.id %>'><%= i.name %></option>
          <% } %>
        </select>
      <%= vspace 10 %>
      <div class="field float-left">Genre: *</div>
      <select name='genre'>
        <option value='false'>Select One</option>
        <% Genre.all.each{|g| %>
          <option value='<%= g.id %>'><%= g.name %></option>
        <% } %>
      </select>
      <%= vspace 10 %>
      <div class="field float-left">Description:</div>
      <textarea name='description'></textarea>
      <%= vspace 30 %>
      <div>
      <div class="ajax-loader" style='display: none'>
        Please wait while your audio file is being updated and registered ... <%= vspace %>
        <img src="/new-ui/ajax-loader.gif">
      </div>
        <div style='position: relative'>
          <div class="error-response" style='position: absolute; left: 0px; top: 3px; width: 250px'></div>
          <div class="button" onclick='Jam.Create.submit(this)' style='position: absolute; right: 10px'>
            <div class="icon"><img src='/new-ui/create-jam.png' height='16px'></div>
            <div class="text">Create</div>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>
</html>