<%= section_header 'Create Jam' %>

<br>
<form method='post' action='/jam/register'>
  <%= field 'Name' %>
  <input type='text' name='name'>
  <%= vspace %>
  <input type='submit' value='Create JAM'>
</form>


<%= js_start %>
	setSelectedMenuItem('menu-item-jam-create')
<%= js_end %>