<%= render_state({
  :name => @jam.name, 
  :description => @jam.description, 
  :url => "/jam/#{@jam.id}", 
  :context_menu => "/jam/context_menu?jam_id=#{@jam.id}",
  :right_panel => "/partial/jam/right_panel"
}) %>
<%= vspace 10 %>
<div class="page-header">Jams <span class="slash">/</span> <%= @jam.name %></div>
<%= vspace 20 %>
<div class='single-jam jam'>
  <div class='image'>
    <img src='<%= @jam.image_url_big %>' width='78px' height='78px'>
  </div>
  <div class='content'>
    <div class='name'><%= @jam.name %></div>
    <div class='artist link' <%= profile_link @jam.creator %>><%= @jam.creator.username %></div>
    <div class='play-waveform'>
      <% waveformid = rand_id %>
      <div class='play' <%= play_info @jam %> waveformid='<%= waveformid %>' playtype='waveform'>
        <%= icon "/images/42.png", 2, 42, true %>
      </div>
      <div class='waveform' id="<%= waveformid %>">
        <div class="buffer"></div>
        <div class='seek'>
          <img src='<%= @jam.file_data.waveform_url rescue "-" %>' class='waveform-image'>
        </div>
      </div>
    </div>
  </div>
</div>

<%= vspace 20 %>
<div class='section-header'>Information</div>
<% moreref = rand_id %>
<div class='overflow-hidden s11' style='height: 106px' id='<%= moreref %>'>
  <div class='field'>Name:</div><span><%= @jam.name %></span><%= vspace %>
  <div class='field'>Artists:</div><span><%= @jam.creator.name %></span><%= vspace %>
  <div class='field'>Instruments:</div><span><%= @jam.instrument ? @jam.instrument.name : "-" %></span><%= vspace %>
  <div class='field'>Genre:</div><span><%= @jam.genre_names %></span><%= vspace  %>

  <% file_data = @jam.file_data  %>
  <% if file_data %>
    <div class='field'>Length:</div><%= file_data.length.to_time_str %> <%= vspace %>
    <div class='more link' moreref='<%= moreref %>'>more</div>
    <div class='field'>Mode:</div><%= file_data.mode %> <%= vspace %>
    <div class='field'>Sample Rate:</div><%= file_data.samplerate %> Hz<%= vspace %>
    <div class='field'>Bit Rate:</div><%= file_data.bitrate %> kbps<%= vspace %>
    <div class='field'>File Size:</div><%= file_data.filesize.to_mb %><%= vspace %>
  <% end %>
</div>

<% unless @jam.songs.select(&:published?).empty? %>
  <%= vspace 20 %>
  <div class='section-header'>Collaborations</div>
  <%= partial :"/jam/songs", :locals => {:songs => @jam.songs} %>
<% end %>

<%= vspace 20 %>
<div class='section-header'>Comments</div>
<div id='song-comments'>
	<%= partial(:'common/comments', {
		:locals => {
			:comments => @jam.comments, 
			:for_type => 'jam', 
			:for_type_id => @jam.id,
			:comments_div_id => 'jam-comments',
			:managers => @jam.artists
			}
		}
	)%>
</div>