<a href='javascript: history.go(-1)'><%= icon :back %></a><font size='4'>JAM / "<%= @jam.name %>"</font>

<span class='float-right pad1'>
	<% if session_user? and @jam.artists.include?(session_user?) %>
		<a class='simple-link' href='/jam/<%= @jam.id %>/manage' title='Manage'><%= icon(:manage, :small) %></a> 
	<% end %>
</span>
<br><br>

<div id='basic-info'>
	<%= partial('jam/basic_info', :locals => {:jam => @jam}) %>
</div>

<br>
<%= section_header 'Artists' %>
<%= partial('common/users', :locals => {:users => @jam.artists }) %>
