<%= render_state({:name => @jam.name, :description => @jam.description, :url => "/jam/#{@jam.id}"}) %>
<div class='box'>
  <div style='height: 20px'>PLAY ICON AND SPECTOGRAM</div>
  <div class='section'>
    <div class='header'><%= @jam.name %></div>
    <div class='content'>
      <%= main_info_row("Artists", @jam.creator.username) %>
    </div>
  </div>
</div>

<%= vspace 20 %>

<div class='box'>
  <div class='section'>
    <div class='header'>Lyrics</div>
    <div class='content'>
    </div>
  </div>
</div>

<%= vspace 20 %>

<div class='box'>
  <div class='section'>
    <div class='header'>Comments</div>
    <div class='content'>
    </div>
  </div>
</div>

