<font size='4'>JAM / "<%= @jam.name %>"</font><br><br>

<%= add_field_name 'Actions' %> 
<a href='javascript: history.go(-1)' class='simple-link'>Back</a>,
<% if session_user? and @jam.artists.include?(session_user?) %>
	<a class='simple-link' href='/jam/<%= @jam.id %>/manage'>Manage Jam</a>, 
<% end %>
<a href='?' class='simple-link'>Refresh</a>
<br><br>

<div id='basic-info'>
	<%= partial('jam/basic_info', :locals => {:jam => @jam}) %>
</div>

<br>
<%= section_header 'Artists' %>
<%= partial('common/users', :locals => {:users => @jam.artists }) %>