<font size='4'>JAM / "<%= @jam.name %>"</font><br><br>

<%= add_field_name 'Actions' %> 
<a href='javascript: history.go(-1)' class='simple-link'>Back</a>,
<a class='simple-link' href='/jam/<%= @jam.id %>/manage'>Manage Jam</a>, 
<a href='?' class='simple-link'>Refresh</a>
<br><br>

<div class='music-desc'>
  <%= add_field_name 'Description' %> <%= @jam.description %><br>
  <%= add_field_name 'Artists' %> <%= partial(:'common/list_artists', {:locals => {:artists => @jam.artists}}) %><br>
  <%= add_field_name 'Creator' %> <%= @jam.creator.name %><br>
  <%= add_field_name 'Views' %> <%= @jam.views %><br>
	<%= add_field_name 'Status' %> <%= @jam.published ? display_published : display_unpublished %><br>
	<%= add_field_name 'Likes' %> <%= @jam.liked_by.size %><br>
	<br>
	<% if @session_user and not @session_user.likes_jam?(@jam) %>
  	<span class='simple-link' onClick='likeJam("<%= @jam.id %>")'>Like</span>
	<% elsif @session_user %>
		<span class='simple-link' onClick='unlikeJam("<%= @jam.id %>")'>Unlike</span>
	<% end %>
</div>

