<div id='basic-info'>
	<%= partial('jam/basic_info', :locals => {:jam => @jam}) %>
</div>


<%= section_header 'Description' %>
<%= @jam.description.format_html rescue "" %>
<%= vspace 20 %>
<%= section_header 'Artists' %>
<%= partial('jam/jam_artists', :locals => {:jam_artists => @jam.jam_artists }) %>
<br><br>
<%= partial "jam/sheet_music", :section_header => SectionHeader.new('Sheet Music'), :locals => {:jam => @jam, :sheets => @jam.sheets_of_music} %>
<br><br>
<div id='lineage'></div>
<%= partial 'jam/lineage/page', :section_header => SectionHeader.new('Lineage'), :locals => {:jam => @jam}, :collapsible => true %>
