<% waveformid = rand_id %>
<div class="song">
  <div class='play clickable' <%= play_info song %> waveformid='<%= waveformid %>' playtype='waveform'>
    <%= icon "/images/42.png", 2, 42, true %>
  </div>
  <div class="name">
    <div class="bold link" onClick='Navigate.loadContent("/song/<%= song.id %>")'><%= song.name %></div><%= vspace 5 %>
    <div class="link" <%= profile_link song.creator %>><%= song.creator.username %></div>
  </div>
  <div class="content">
    <div class='waveform' id="<%= waveformid %>">
      <div class="buffer"></div>
      <div class='seek'>
        <img src='<%= song.file_data.waveform_url rescue "-" %>' class='waveform-image'>
      </div>
    </div>
  </div>
</div>