<%= partial :"body/header_and_top_bar" %>
<%= partial :"body/dialog" %>
<%= partial :"body/top_bar" %>
<%= partial :"body/middle_bar" %>

<!-- The player comes here -->
<div class="player-container">
  <%= partial :"body/actions_doc" %>
</div>

<%= partial :"body/footer_and_body_end" %>
<%= partial :"common/player" %>